@charset "utf-8";
.wapper{
	max-width:640px; margin:0 auto; padding:0px; text-align:center; vertical-align:middle; overflow:hidden; }
.big_wapper{
	width:100%; margin:0px; padding:0px; text-align:center; vertical-align:middle; overflow:hidden}
.comdiv{
	float:left; margin:0px; padding:0px; width:100%; text-align:center; vertical-align:middle; overflow:hidden;}
img{
max-width:100%;}
.div680{
margin:0 auto; padding:0px; overflow:hidden; padding:0px; width:680px;}
.hidetxt{
text-overflow:ellipsis;   -o-text-overflow:ellipsis;   -webkit-text-overflow:ellipsis;   -moz-text-overflow:ellipsis;   white-space:nowrap;}
.menumask{
position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:#000000;
	opacity:0.74;
	filter:alpha(opacity=74);
	z-index:999;
	left:-100%;
	-webkit-transition-duration:500ms;-o-transition-duration:500ms;-ms-transition-duration:500ms;-moz-transition-duration:500ms;transition-duration:500ms
	 }	
.showmask{
left:0;}	
.mmm{
position:fixed; right:-100%; top:0; width:100%; height:100%;   z-index:99;-webkit-transition-duration:500ms;-o-transition-duration:500ms;-ms-transition-duration:500ms;-moz-transition-duration:500ms;transition-duration:500ms; text-align:center; background-color:#d0d4da}
.mmmon{
right:0;}
.mmm div{
padding-top:80px; margin:0 auto; width:640px; overflow:hidden;}
.mmm div ul li{
width:100%; margin:0px; padding:0px; position:relative;  border-bottom:2px #f1f3f4 solid; overflow:hidden;}
.mmm div ul li dl dd{
width:100%; margin:0px; padding:0px;  }
 
.mmm a{
color:#252525; display:block; width:100%; margin:0px; padding:19px 0px; text-align:left; background-position:45px center; background-repeat:no-repeat;    font-size:28px;}
.mmm div ul li a{
 background-position:115px center; background-repeat:no-repeat;   width:100%; text-align:center;
}
.mmm div ul li a.submenu{
position:relative;}
.mmm div ul li a.submenu span{
position:absolute; right:50px; top:0; height:100%; width:30px; background-position:center; background-repeat:no-repeat; background-image:url(../images/s.png)/*tpa=http://www.hzfen.com/Wap/Common/images/s.png*/;}
 
.mmm div ul li.m1 dl dd a,.mmm div ul li.m2 dl dd a,.mmm div ul li.m3 dl dd a,.mmm div ul li.m4 dl dd a,.mmm div ul li.m5 dl dd a{
background-image:none; padding-left:235px; width:515px;}
.mmm div ul li dl{
background-color:#f0f0f0; width:100%; overflow:hidden; display:none}
.div600{
margin:0 auto; padding:0px; overflow:hidden; width:600px;}
.showmenu{
float:right; margin-right:20px; margin-top:0px; width:44px; height:80px; background-image:url(../images/cate.png)/*tpa=http://www.hzfen.com/Wap/Common/images/cate.png*/; background-position:center; background-repeat:no-repeat;} 
#block_mid{
  position:relative; padding-top:80px;}
#header{ width:100%; z-index:999; background-color:#d0d4da; height:80px; position:fixed; left:0; top:-1px; background-position:center top; background-repeat:repeat-x}
#header .wapper{
height:80px;  background-position:center; background-repeat:no-repeat;} 
#header .wapper span{
float:left; margin-left:20px; color:#fff; width:185px; height:80px; background-position:center; background-repeat:no-repeat; background-image:url(../../../phy-img/logo.png)/*tpa=http://www.hzfen.com/Wap/Common/images/logo.png*/; font-size:30px; line-height:80px;} 
.bg{
height:465px; background-image:url(../images/bg1.jpg)/*tpa=http://www.hzfen.com/Wap/Common/images/bg1.jpg*/; background-position:center; background-repeat:no-repeat;}
.indexpro ul li{
float:left; width:290px; height:300px; background-color:#fff; margin-bottom:20px;  padding-bottom: 20px;}
.indexpro ul li .proimg{
height:249px; border-bottom:1px #eee solid;} 
.indexpro ul li .proimg img{
margin-top:25px;}
.protitle{
height:50px; padding:0 5%; width:90%; line-height:50px; overflow:hidden;}
.indexpro ul li:nth-child(2n){
float:right}
.indexcase ul li{
width:100%; margin:0px; padding:0px; margin-bottom:60px; overflow:hidden;}
.indexcase ul li img{
width:100%; float:left;}
.indexcase ul li div{
height:80px; line-height:80px; background-color:#fff}
.indexnews_tj{
height:428px; overflow:hidden;}
.indexnews_tj img{
width:100%;}
.indexnews_tj div{
position:absolute; left:0; bottom:0; height:80px; line-height:80px; color:#fff; background-image:url(../images/png.png)/*tpa=http://www.hzfen.com/Wap/Common/images/png.png*/; padding:0 2%; width:96%}
#indexnews .swiper-pagination-bullet{
width:12px; height:12px; background-color:#434343;opacity:1;}
#indexnews .swiper-pagination-bullet-active{
background-color:#fff}
.newslist_index ul li{
width:100%; height:230px; background-color:#fff; overflow:hidden; background-image:url(../images/index10.jpg)/*tpa=http://www.hzfen.com/Wap/Common/images/index10.jpg*/; position:relative; background-position:right top; background-repeat:no-repeat; margin-top:39px;}
.newslist_index_top{
width:560px; margin:0 auto; padding:0px;}
.newslist_index_top .comdiv{
text-align:left;}
.newslist_index_top .comdiv_a a{
font-size:28px;}
.newslist_index_top .comdiv{
color:#646464}
.comdiv_a{
padding-top:33px; padding-bottom:20px;}
.newslist_index ul li span{ font-size:20px; font-family:Arial, Helvetica, sans-serif; 
position:absolute; top:0; right:0; width:144px; height:50px; text-align:center; color:#fff; line-height:50px;}
.newslist_index ul li span b{
font-size:30px; padding-left:5px;padding-right:10px;}
.indexmap{
position:relative; height:915px;}


.indexmap_mid{
position:absolute; top:148px;left:20px;   width:599px; height:683px; z-index:100; background-image:url(../images/index14.png)/*tpa=http://www.hzfen.com/Wap/Common/images/index14.png*/; color:#fff; background-position:center; background-repeat:no-repeat;}
.indexontact table{
width:100%; text-align:left; vertical-align:middle;}
.indexontact table td{
vertical-align:top; padding-bottom:15px; font-size:20px; text-align:left; }
.indexontact table td img{
padding-right:20px; width:49px;}
#footer{
background-color:#141920; color:#f1f3f4; font-size:20px; line-height:40px; padding:20px 0px;}
#footer a{
color:#f1f3f4}
.nyprocate a{
float:left; display:block; width:290px; height:60px; text-align:center; line-height:60px; margin-bottom:20px; background-color:#ccc;}
.nyprocate a:nth-child(2n){
float:right;}
.nyprocate a.on{
color:#fff; background-color:#0b76cb;}
.nyprolist ul li{
float:left; width:290px; height:350px; background-color:#a0a0a0; margin-bottom:20px;}
.nyprolist .nypicimg{
width:100%; height:255px; background-color:#eee; overflow:hidden;}
.nypicimg img{
margin-top:25px;}
.nyprolist2 .nypicimg img{
margin-top:0px; width:100%; height:255px;}
.nypicname{
overflow:hidden;
height:95px; width:90%; text-align:center; line-height:68px; color:#fff; padding:0 5%; background-image:url(../images/p3.jpg)/*tpa=http://www.hzfen.com/Wap/Common/images/p3.jpg*/; background-position:center 68px; background-repeat:no-repeat;}
.nyprolist ul li:nth-child(2n){
float:right;}
.proinfo_cate a{
float:left; width:50%; text-align:center; line-height:60px; color:#fff; background-color:#a0a0a0;}
.proinfo_cate a.on{
background-color:#0b76cb}
#protop{
background-position:top; background-repeat:no-repeat; margin-top:40px; background-image:url(../images/p5.png)/*tpa=http://www.hzfen.com/Wap/Common/images/p5.png*/; color:#666; padding:40px 0px; line-height:40px;}
.showpro{
display:none;}
.casecate{
width:100%; margin:0px; padding:0px; clear:both; text-align:center;  ;}
.casecate ul{
margin:0 auto; padding:0px;   display:inline-block;}
.casecate ul li{
display:inline-block;   float:left;}
.casecate ul li a{
display:inline-block;  line-height:60px; height:60px; padding:0 30px; background-color:#ccc}
.casecate ul li a.on{
background-color:#0b76cb; color:#fff}
.nyprolist{
margin-top:40px;} 
.aboutwh ul li{
width:100%; margin:0px; padding:0px; position:relative; margin-bottom:40px;}
.aboutwh ul li .whbar{
position:absolute; left:0; top:0; height:100%; background-image:url(../images/png2.png)/*tpa=http://www.hzfen.com/Wap/Common/images/png2.png*/; color:#fff}
.whbar_top{
font-size:30px; padding-top:90px; padding-bottom:25px; background-image:url(../images/p3.jpg)/*tpa=http://www.hzfen.com/Wap/Common/images/p3.jpg*/; background-position:center bottom; background-repeat:
no-repeat;}
.whbar_jj{
padding-top:30px;}
.aboutwh{
padding-top:20px;}
.zsimg{
width:100%;}
 .swiper-pagination-bullet{
width:12px; height:12px; background-color:#959595;opacity:1;}
 .swiper-pagination-bullet-active{
background-color:#f39800}
.lcmidd ul{
width:100%; overflow:hidden; margin:0px; padding:80px 0px 0px 0px; background-image:url(../images/ab8.png)/*tpa=http://www.hzfen.com/Wap/Common/images/ab8.png*/; background-position:center; background-repeat:repeat-y;}
.lcmidd ul li{
width:100%; overflow:hidden; padding:0px; margin:0px; background-image:url(../images/ab9.png)/*tpa=http://www.hzfen.com/Wap/Common/images/ab9.png*/; background-repeat:no-repeat; background-position:169px center; margin-bottom:100px;}
.lc_left{
float:left; width:280px; text-align:right;}
.lc_right{
float:right; width:280px; text-align:left;}
.lc_left .comdiv{
text-align:right;}
.lc_left_top{
color:#fff; font-weight:bold; font-size:30px; padding-top:10px; padding-bottom:20px;}
.lc_left_footer{
color:#dfdcdc}
.downlist_ul li{
width:100%; margin:0px; clear:both; overflow:hidden; padding:23px 0px; background-position:bottom; background-image:url(../images/down2.png)/*tpa=http://www.hzfen.com/Wap/Common/images/down2.png*/; background-repeat:no-repeat;}
.downlist_ul li span{
float:left;}
.downlist_ul li a{
float:right; color:#f39800;}



#showbox{
	  width:600px; height:300px; background-position:center; background-repeat:no-repeat;     text-align:center;   z-index:999999999999;   margin:0px; padding:0px;  display:none; background-image:url(../images/down3.png)/*tpa=http://www.hzfen.com/Wap/Common/images/down3.png*/;   }
 
.mp_close{
	float:right; margin-top:3px;}
.mask{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:#000000;
	opacity:0.8;
	filter:alpha(opacity=80);
	z-index:999999998;
	display:none	 
}
.showbox2{
width:345px; float:right; height:220px; margin-right:10px; padding-top:10px;}
.showbox2 .comdiv{
text-align:left; width:100%; clear:both; margin:0px; padding:0px;}
.password_input{
height:48px; line-height:48px; border:1px #ccc solid; float:left; background-color:transparent; width:168px; padding:0 5px; font-family:"微软雅黑"; color:#666;}
.password_btn{ text-align:center; line-height:50px;
float:left; width:110px; border:none; height:50px; background-color:#f39800;  color:#fff;}
.password_btn:hover{
color:#fff}


.contact_left img{
float:left;}
.contact_left table{
width:600px; float:right; margin:0px; text-align:left; vertical-align:middle;}
.contact_left table td{ color:#646464; line-height:30px;
vertical-align:middle; text-align:left; padding-bottom:35px;}
.contact_left table td img{
padding-right:35px;}


.contact_right ul li{ margin-bottom:25px;
float:left; border:1px #0b76cb solid;-moz-border-radius: 5px; /* Gecko browsers */ -webkit-border-radius: 5px; /* Webkit browsers */ border-radius:5px; /* W3C syntax */}
.contact_right ul li input{
width:578px; height:58px; line-height:58px; border:none; font-size:24px; color:#666; background-color:transparent; padding:0 10px;}
.contact_right ul li textarea{
width:578px; height:395px; font-family:"微软雅黑"; font-size:24px; color:#666;   border:none; background-color:transparent; padding:10px;}
.liuyan{
border:none; width:200px; height:60px; color:#fff; background-color:#f1ac38; cursor:pointer; font-size:24px;font-family:"微软雅黑"; }
.contact_right ul{
width:100%; margin:0px; padding:0px; overflow:hidden; padding-bottom:10px;}
.jobinfo{
line-height:40px; padding-top:40px; padding-bottom:80px; text-align:left; color:#666}
.joblist ul li{
width:100%; clear:both; background-image:url(../images/j2.png)/*tpa=http://www.hzfen.com/Wap/Common/images/j2.png*/; padding:13px 0px; overflow:hidden; background-position:center; background-repeat:repeat-x;} 
.joblist{
padding:40px 0px 80px 0px;}
.joblist ul li span{
float:left; color:#646464; display:inline-block; background-color:#fff; padding-right:10px;}
.joblist ul li a{
float:right; color:#f39800; padding-left:10px; display:inline-block; background-color:#fff}
.newslist ul li{
width:100%; margin:0px; padding:0px; margin-bottom:58px; overflow:hidden;}
.newslist ul li img{
width:100%; float:left;}
.newslist ul li .ntitle{ color:#fff;
height:80px; background-color:#a0a0a0; line-height:80px; padding:0 3%; width:94%; overflow:hidden;}
.njj{
text-align:left; color:#646464; padding:25px 0px; line-height:37px;}
.nmore{
text-align:left;}
.nmore a{
display:block; width:180px; height:50px; line-height:50px; text-align:center; color:#fff; background-color:#0b76cb;margin:0 auto;}
.newsinfo_top{
background-image:url(../images/n3.png)/*tpa=http://www.hzfen.com/Wap/Common/images/n3.png*/; padding-bottom:15px; background-position:center bottom; background-repeat:no-repeat;}











