<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <title>深圳赛特微电子有限公司PHY品牌二极管官网</title>
<meta name="keywords" content="深圳赛特微电子有限公司PHY品牌二极管官网" />
<meta name="description" content="深圳赛特微电子有限公司PHY品牌二极管官网" />
  <script type="text/javascript" src="__PUBLIC__/Myapp/Common/js/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/Myapp/Common/js/jquery.bxslider.js" ></script>
  <script type="text/javascript" src="__PUBLIC__/Myapp/Common/js/wow.min.js" ></script>
  <script type="text/javascript" src="__PUBLIC__/Myapp/Common/js/load.js" ></script>
  <link href="__PUBLIC__/Myapp/Common/css/jquery.bxslider.css"  rel="stylesheet" type="text/css"/>
  <link href="__PUBLIC__/Myapp/Common/css/animate.min.css"  rel="stylesheet" type="text/css"/>

  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Myapp/Common/css/bootstrap.min.css" />

<link href="__PUBLIC__/GC/template/anisee/css/style.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Myapp/Common/css/theme.css" />
</head>
<body>

<script type="text/javascript">
        function browserRedirect() {
            var sUserAgent = navigator.userAgent.toLowerCase();
            var bIsIpad = sUserAgent.match(/ipad/i) == "ipad";
            var bIsIphoneOs = sUserAgent.match(/iphone os/i) == "iphone os";
            var bIsMidp = sUserAgent.match(/midp/i) == "midp";
            var bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == "rv:1.2.3.4";
            var bIsUc = sUserAgent.match(/ucweb/i) == "ucweb";
            var bIsAndroid = sUserAgent.match(/android/i) == "android";
            var bIsCE = sUserAgent.match(/windows ce/i) == "windows ce";
            var bIsWM = sUserAgent.match(/windows mobile/i) == "windows mobile";
            
            if (bIsIpad || bIsIphoneOs || bIsMidp || bIsUc7 || bIsUc || bIsAndroid || bIsCE || bIsWM) {
                window.location.href="{:url('index/index/index_mo')}";
            } else {
               
            }
        }

        browserRedirect();
</script>
<style>
	.sidebar {
        padding-left: 32%;
    text-align: center;
}
.sidebar .btn-sideNav:hover {
    color: #03558F;
    text-decoration: none;
}

.sidebar .side-nav a {
    display: block;
    color: #696969;
}
.sidebar .btn-sideNav {
    color: #03558F;
    text-decoration: none;
    font-weight: 600;
    line-height: 28px;
    font-size: 12px;
    text-align: left;
    padding-left: 31px;
    background: url(__PUBLIC__/phy-img/ico_1.jpg) no-repeat;
}
.sidebar .sub-sideNav a.sub-item {
    color: #696969;
}
.sidebar .sub-sideNav a {
    background:  url(__PUBLIC__/phy-img/ico_2.jpg) no-repeat;
    line-height: 28px;
    font-size: 12px;
    padding-left: 30px;
    text-decoration: none;
    text-align: left;
}
.sidebar .side-nav a {
    display: block;
    color: #696969;
}
</style>

{include file="common/header"}
<div class="nybanner" >
	<img src="__PUBLIC__/phy-img/product-banner.jpg" style="width: 100%;" alt="">
</div> 
<div class="Root">
	<div style="padding-top:85px; padding-bottom:60px; text-align:center; width:100%; overflow:hidden;">
		<img src="__PUBLIC__/Myapp/Common/images/p1.png" >
	</div>
	
	<div class="plist_ny row" style="height: 900px;">
		<div class="col-md-3 ">
			<div class="sidebar">
                <div class="side-nav">
                    <a class="btn-sideNav current" href="javascript:void(0)">整流二极管</a>
                    <div class="sub-sideNav" style="display: block;">
                        <a class="sub-item" href="{:url('index/Product/index',['classify'=>'整流二极管贴片'])}">贴片</a>
                        <a class="sub-item" href="{:url('index/Product/index',['classify'=>'整流二极管插片'])}">插件</a>
                    </div>
                    <a class="btn-sideNav current" href="javascript:void(0)">
                        肖特基二极管
                    </a>
                    <div class="sub-sideNav" style="display: block;">
                        <a class="sub-item" href="{:url('index/Product/index',['classify'=>'肖特基二极管贴片'])}">贴片</a>
                        <a class="sub-item" href="{:url('index/Product/index',['classify'=>'肖特基二极管插片'])}">插件</a>
                    </div>
                    <a class="btn-sideNav current" href="javascript:void(0)">
                        稳压二极管
                    </a>
                    <div class="sub-sideNav" style="display: block;">
                        <a class="sub-item" href="{:url('index/Product/index',['classify'=>'稳压二极管贴片'])}">贴片</a>
                        <a class="sub-item" href="{:url('index/Product/index',['classify'=>'稳压二极管插片'])}">插件</a>
                    </div>
                    <a class="btn-sideNav current" href="javascript:void(0)">
                        快恢复二极管
                    </a>
                    <div class="sub-sideNav" style="display: block;">
                        <a class="sub-item" href="{:url('index/Product/index',['classify'=>'快恢复二极管贴片'])}">贴片</a>
                        <a class="sub-item" href="{:url('index/Product/index',['classify'=>'快恢复二极管插片'])}">插件</a>
                    </div>
                    <a class="btn-sideNav current" href="javascript:void(0)">
                        桥堆
                    </a>
                    <div class="sub-sideNav" style="display: block;">
                        <a class="sub-item" href="{:url('index/Product/index',['classify'=>'MIN整流桥-桥堆'])}">MIN整流桥-桥堆</a>
                        <a class="sub-item" href="{:url('index/Product/index',['classify'=>'高结温MIN整流桥-桥堆'])}">高结温MIN整流桥-桥堆</a>
                    </div>
                    <a class="btn-sideNav current" href="javascript:void(0)">
                        超快恢复二极管
                    </a>
                    <div class="sub-sideNav" style="display: block;">
                        <a class="sub-item" href="{:url('index/Product/index',['classify'=>'超快恢复二极管贴片'])}">贴片</a>
                        <a class="sub-item" href="{:url('index/Product/index',['classify'=>'超快恢复二极管插片'])}">插件</a>
                    </div>
                    <a class="btn-sideNav current" href="javascript:void(0)">
                        玻璃钝化插件
                    </a>
                    <div class="sub-sideNav" style="display: block;">
                        <a class="sub-item" href="{:url('index/Product/index',['classify'=>'整流二极管贴片'])}">玻璃钝化普通整流管插件</a>
                        <a class="sub-item" href="{:url('index/Product/index',['classify'=>'整流二极管贴片'])}">玻璃钝化快恢复整流管插件</a>
                    </div>
                    <a class="btn-sideNav current" href="javascript:void(0)">
                        TVS二极管
                    </a>
                    <div class="sub-sideNav" style="display: block;">
                        <a class="sub-item" href="{:url('index/Product/index',['classify'=>'TVS二极管贴片'])}">贴片</a>
                        <a class="sub-item" href="{:url('index/Product/index',['classify'=>'TVS二极管插片'])}">插件</a>
                    </div>
                    <a class="btn-sideNav current" href="{:url('index/Product/index',['classify'=>'半导体放电管'])}">
                        半导体放电管
                    </a>

                </div>
            </div>
            <div style="width: 100%;margin-top: 10px;"><img src="__PUBLIC__/phy-img/QQ.jpg" class="img-responsive" alt=""></div>
            <div style="width: 100%;margin-top: 10px;"><img src="__PUBLIC__/phy-img/index_012.jpg" class="img-responsive" alt=""></div>
            <div style="width: 100%;margin-top: 10px;"><img src="__PUBLIC__/phy-img/index_020.jpg" class="img-responsive" alt=""></div>

		</div>
		<div class="col-md-8 " style="border:1px solid #ccc;">
			<div class="col-md-12 text-center"><img src="__PUBLIC__/phy-img/pack1.jpg" class="img-responsive" alt=""></div>
			<table width="100%" border="0" cellpadding="3" cellspacing="0" style="margin-bottom:10px">
                <tbody>
                    <tr>
                        <td width="11%" rowspan="2" align="center" bgcolor="#EDEDED" style="border:1px #cccccc solid">Type</td>
                        <td width="5%" rowspan="2" align="center" bgcolor="#EDEDED" style="border:1px #cccccc solid">PDF</td>
                        <td width="11%" align="center" bgcolor="#EDEDED" style="border:1px #cccccc solid">V<sub>RRM</sub></td>
                        <td width="11%" align="center" bgcolor="#EDEDED" style="border:1px #cccccc solid">I<sub>(AV)</sub></td>
                        <td width="11%" align="center" bgcolor="#EDEDED" style="border:1px #cccccc solid">I<sub>FSM</sub></td>
                        <td colspan="2" align="center" bgcolor="#EDEDED" style="border:1px #cccccc solid">V<sub>F@IF</sub></td>
                        <td width="11%" align="center" bgcolor="#EDEDED" style="border:1px #cccccc solid">I<sub>R</sub></td>
                        <td width="11%" rowspan="2" align="center" bgcolor="#EDEDED" style="border:1px #cccccc solid">Package &amp; Size</td>
                    </tr>
                    <tr>
                        <td width="11%" align="center" bgcolor="#EDEDED" style="border:1px #cccccc solid">V</td>
                        <td width="11%" align="center" bgcolor="#EDEDED" style="border:1px #cccccc solid">A</td>
                        <td width="11%" align="center" bgcolor="#EDEDED" style="border:1px #cccccc solid">A</td>
                        <td width="11%" align="center" bgcolor="#EDEDED" style="border:1px #cccccc solid">V</td>
                        <td width="11%" align="center" bgcolor="#EDEDED" style="border:1px #cccccc solid">A</td>
                        <td width="11%" align="center" bgcolor="#EDEDED" style="border:1px #cccccc solid">μA</td>
                    </tr>
                </tbody>
			</table>
            <style type="text/css">
                .ass {
                    width: 93%;
                    height: auto;
                    margin-bottom: 28px;
                    margin-left: 18.8%;
                }
                
                .ass b {
                    display: none;
                }
                
                .ass select {
                    width: 10.3%;
                    height: 19px;
                    display: block;
                    float: left;
                    margin: 0 7px;
                }
                
                .tee {
                    height: 15px;
                    width: 15px;
                    border: 1px solid #666
                }
            </style>
                    <div class="ass">
                        <!-- <select name="filter" class="tee" two="" style="margin-bottom: 10px">
                            <option value="">全部</option><option value="">-</option>
                            <option value="">20</option>
                            <option value="">30</option>
                            
                            </select> -->
                        <form id="form1" method="POST">
                            <input type="hidden" id="classify" name="classify" value="{$classify}">
                            <input autocomplete="off"  style="width:11%"  list="url_list" name="vrrm" id="vrrm" class="sub"  placeholder="全部" value="" />
                            <datalist id="url_list" style="height: 300px; overflow: auto ; ">
                                <option value="全部" >
                                {foreach name="fie_vrrm" item="v"}
                                <option value="{$v}" >
                                {/foreach}
                            </datalist>

                            <input autocomplete="off" style="width:12%"  list="url_list1" name="iava" id="iava" class="sub" placeholder="全部" value=""  />
                            <datalist id="url_list1" style="height: 300px; overflow: auto ; ">
                                <option value="全部" >
                                {foreach name="fie_iava" item="v"}
                                <option value="{$v}" >
                                {/foreach}
                            </datalist>
                            <input autocomplete="off" style="width:12%"  list="url_list2" name="ifsma"  id="ifsma" class="sub"  placeholder="全部" value=""  />
                            <datalist id="url_list2">
                                {foreach name="fie_ifsma" item="v"}
                                <option value="{$v}" >
                                {/foreach}
                            </datalist>
                            <input autocomplete="off" style="width:12.5%"  list="url_list3" name="vfv" id="vfv" class="sub" placeholder="全部" value=""  />
                            <datalist id="url_list3">
                                <option value="全部" >
                                {foreach name="fie_vfv" item="v"}
                                <option value="{$v}" >
                                {/foreach}
                            </datalist>
                            <input autocomplete="off" style="width:12%"  list="url_list4" name="ifa" id="ifa" class="sub"  placeholder="全部" value=""  />
                            <datalist id="url_list4">
                                <option value="全部" >
                                {foreach name="fie_ifa" item="v"}
                                <option value="{$v}" >
                                {/foreach}
                            </datalist>
                            <input autocomplete="off" style="width:12%"  list="url_list5" name="ira" id="ira" class="sub"  placeholder="全部" value=""  />
                            <datalist id="url_list5">
                                <option value="全部" >
                                {foreach name="fie_ira" item="v"}
                                <option value="{$v}" >
                                {/foreach}
                            </datalist>
                            <input autocomplete="off" style="width:11%"  list="url_list6" name="size" id="size" class="sub"  placeholder="全部" value=""  />
                            <datalist id="url_list6">
                                <option  value="全部" >
                                {foreach name="fie_size" item="v"}
                                <option value="{$v}" >
                                {/foreach}
                            </datalist>

                        </form>
                            
              		
                    </div>
                    <table id="data_table" width="100%" border="0" cellpadding="3" cellspacing="0" style="margin:10px 0px;">
                        <tbody>
                            {volist name='list' id='data'}
                            <tr>
                                <td width="11%"  align="center" bgcolor="#EDEDED" style="border:1px #cccccc solid;padding-top:8px; ">{$data.name}</td>
                                <td width="5%"  align="center" bgcolor="#EDEDED" style="border:1px #cccccc solid;padding-top:8px;">
                                    {if condition="$data.cover"}
                                        <a href="/public/{$data.cover}"><img src="__STATIC__/pdf.gif" alt=""></a>    
                                    {/if}
                                </td>
                                <td width="11%" align="center" bgcolor="#EDEDED" style="border:1px #cccccc solid;padding-top:8px;">{$data.vrrm}</td>
                                <td width="11%" align="center" bgcolor="#EDEDED" style="border:1px #cccccc solid;padding-top:8px;">{$data.iava}</td>
                                <td width="11%" align="center" bgcolor="#EDEDED" style="border:1px #cccccc solid;padding-top:8px;">{$data.ifsma}</td>
                                <td  width="11%" align="center" bgcolor="#EDEDED" style="border:1px #cccccc solid;padding-top:8px;">{$data.vfv}</td>
                                <td width="11%"  align="center" bgcolor="#EDEDED" style="border:1px #cccccc solid;padding-top:8px;">{$data.ifa}</td>
                                <td width="11%" align="center" bgcolor="#EDEDED" style="border:1px #cccccc solid;padding-top:8px;">{$data.ira}</td>
                                <td width="11%"  align="center" bgcolor="#EDEDED" style="border:1px #cccccc solid;padding-top:8px;">{$data.size}</td>
                            </tr>
                            {/volist}
                        </tbody>
                        
                    </table>
                    <div class='dataTables_paginate paging_simple_numbers' id="fenye" style="width:100%;margin:0 auto;margin-bottom: 10px;">{$list->render()}</div> 
            </div>
            
	</div>
	
	
</div>

{include file="common/footer"}

<script>
$(".cur").attr('href',"javascript:void");
function AjaxPage(page){
    
  $.get('/index/successcase/getAll',{ page:page},function (data) {
    $('.little-content').html(data);
  })
}
$('.on').hover(function(){
  $.get('/index/successcase/all',function (data) {
    $('.little-content').html(data);
  })
});
$('.title-id').hover(function(){
  var id = $(this).attr('title');
  $.post('{:url("index/Product/index")}',{ 'id':id },function(data){
    $('.little-content').html(data);
  });
});
function AjaxDetailsPage(page){
    var vrrm = $('#vrrm').val();
    var vfv = $('#vfv').val();
    var size = $('#size').val();
    var ira = $('#ira').val();
    var ifsma = $('#ifsma').val();
    var ifa = $('#ifa').val();
    var iava = $('#iava').val();
    var classify = $('#classify').val();
    
  $.post('{:url("index/Product/index")}',{ page:page,vrrm:vrrm,vfv:vfv,size:size,ira:ira,ifsma:ifsma,ifa:ifa,iava:iava,classify:classify },function (data) {
    //console.log($(data).find("#data_table").html());
    $("#fenye").empty();
    $("#fenye").append($(data).find("#fenye").html());
    $('#data_table').html($(data).find("#data_table").html());
    $(".cur").attr('href',"javascript:void");
  })
}






    
$(function(){
    
		  
		$(window).scroll(function(e){h();})
        $(window).resize(function(){h();})
	 
	});
function h(){
	var scrolltop=$(document).scrollTop();	
	var docwidth=$(document).width()
	 
	if (scrolltop>115)
	{
		$('.gotop').show();
		
	}
	else
	{
		$('.gotop').hide();
		
	}
}
</script>
<a class="gotop" href="javascript:void(0);" style="position:fixed; z-index:99999999999; z-index:40px; bottom:50px; right:10px; display:none">
	<img src="__PUBLIC__/Myapp/Common/images/up2.png"   />
</a>
<script>
$(function(){
	$(".gotop").on("click",function(e){
			$("html,body").animate({scrollTop :0},400);
			return false;	
		});
});
</script>
 <script>
     $(".sub").change(function(){
        var url = "{:url('index/Product/index')}";
        console.log($("form").serialize());
        $.ajax({  
            type : "POST",  
            async : false,  //同步请求  
            url : url,  
            data : $("form").serialize(),
            timeout:1000,  
            success:function(dates){  
                //console.log(dates);
                $("#data_table").empty();
                $("#fenye").empty();
                //console.log($(dates).find("#data_table").html());
                $("#data_table").append($(dates).find("#data_table").html());
                $("#fenye").append($(dates).find("#fenye").html());
          
            },  
            error: function() {  
                alert("失败，请稍后再试！");  
            }  
        });  
     });
</script>
 <script>
var page = 1;
$(function(){
	//getlist($('.loadmore').attr('id'),$('.loadmore').attr('data-href'),$('.loadmore').attr('lang'));
	$('.loadmore').click(function(){
		getlist($(this).attr('id'),$(this).attr('lang'));
		
	});
	 
	 
});
function getlist(href,cid){
		 
		$.get(href,{page:page,cid:cid,t:new Date().getTime()},function(d,t,j){
			page++;
			
			if(d==""){
				alert("资料正在整理中！");
				return false;
				}else{
				$(".newslist2").append(d);
				 
					$('.newslist2 li').each(function(){
						 var n=$('.newslist2 li').index(this);
						 if(n%3==0){
						 	$(this).css('margin-left','0');
						 }
					});
				}
			 
		},"text");
		
		 
		
		return false;
}
  $(".btn-sideNav").click(function(){
  	if($(this).next().css("display")=='none'){
  		$(this).next().css("display","block");
  	}else{
  		$(this).next().css('display','none');
  	}
  	
  })
  $('#menu li').hover(function(){
		$(this).find('ul').show();

	},function(){
		$(this).find('ul').hide();
	})
</script>
</body>
</html>