<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <title>深圳赛特微电子有限公司PHY品牌二极管官网</title>
<meta name="keywords" content="深圳赛特微电子有限公司PHY品牌二极管官网" />
<meta name="description" content="深圳赛特微电子有限公司PHY品牌二极管官网" />
  <script type="text/javascript" src="__PUBLIC__/Myapp/Common/js/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/Myapp/Common/js/jquery.bxslider.js" ></script>
  <script type="text/javascript" src="__PUBLIC__/Myapp/Common/js/wow.min.js" ></script>
  <script type="text/javascript" src="__PUBLIC__/Myapp/Common/js/load.js" ></script>
  <link href="__PUBLIC__/Myapp/Common/css/jquery.bxslider.css"  rel="stylesheet" type="text/css"/>
  <link href="__PUBLIC__/Myapp/Common/css/animate.min.css"  rel="stylesheet" type="text/css"/>

  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Myapp/Common/css/bootstrap.min.css" />

<link href="__PUBLIC__/GC/template/anisee/css/style.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Myapp/Common/css/theme.css" />
<script type="text/javascript">
        function browserRedirect() {
            var sUserAgent = navigator.userAgent.toLowerCase();
            var bIsIpad = sUserAgent.match(/ipad/i) == "ipad";
            var bIsIphoneOs = sUserAgent.match(/iphone os/i) == "iphone os";
            var bIsMidp = sUserAgent.match(/midp/i) == "midp";
            var bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == "rv:1.2.3.4";
            var bIsUc = sUserAgent.match(/ucweb/i) == "ucweb";
            var bIsAndroid = sUserAgent.match(/android/i) == "android";
            var bIsCE = sUserAgent.match(/windows ce/i) == "windows ce";
            var bIsWM = sUserAgent.match(/windows mobile/i) == "windows mobile";
            
            if (bIsIpad || bIsIphoneOs || bIsMidp || bIsUc7 || bIsUc || bIsAndroid || bIsCE || bIsWM) {
                window.location.href="{:url('index/Index/index_mo')}"/*tpa=http://www.hzfen.com/wap.php*/;
            } else {
               
            }
        }

        browserRedirect();
</script>
<!-- <script src="template/anisee/js/jquery.js" type="text/javascript"></script> -->
<script src="__PUBLIC__/GC/template/anisee/js/slider.js" type="text/javascript"></script>
<script src="__PUBLIC__/GC/template/anisee/js/common.js" type="text/javascript"></script>
<link rel="stylesheet" href="__PUBLIC__/Wap/Common/style/flexslider.css" >

<script src="__PUBLIC__/Wap/Common/js/jquery.flexslider-min.js" ></script>
  <script>
$(function(){
	$('#menu ul li').eq(0).find('a').addClass('on');
	$('#banner').flexslider({
		  animation: "slide", 
		  controlsContainer: ".home" ,
		  slideshowSpeed: 3000,
		touch:true,
		directionNav:true,
		  before: function (slider) {
slider.pause();
slider.play();
}
	});
});
</script>
<style>
/*	.carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 40%;
    margin: 0 auto;
    height: auto;
}*/
#marquee li{margin-top: 0px !important;}
.whfiv{float: left;position: relative;padding:5px;}
.whfiv p{border-top: 1px solid #ccc;}
.whfiv img{transition: all 0.6s;  }
 .whfiv img:hover { transform: scale(1.1);   }  
.zzfdiv{    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: black;
	opacity: 0.5;
	text-align: center;
	padding-top: 20px;
	color: white;

}
.bg-white{background-color: white;}
@media screen and (max-width: 1600px) {
	.bx-viewport{height: 553px !important;}
}
@media screen and (max-width: 1440px) {
	.bx-viewport{height: 497px !important;}
}
@media screen and (max-width: 1366px) {
	.bx-viewport{height: 465px !important;}
}
</style>
</head>
<body>

<!--header-->
{include file="common/header"}


<div id="banner">
	<!-- <div class="slider6">

     
       <div class="slide" ><img src="phy-img/pci1.jpg" class="img-responsive" alt=""></div><div class="slide" ><img src="phy-img/pci2.jpg" class="img-responsive" alt=""></div><div class="slide" ><img src="phy-img/pci3.jpg" class="img-responsive" alt=""></div>  
    </div>
	<div class="banner_prev"></div>
	<div class="banner_next"></div>
    <script type="text/javascript">

        $(document).ready(function(){

          $('.slider6').bxSlider({
			auto: true,
			mode: 'fade',
			controls: true,
			speed: 1000,
            slideMargin: 0,
			nextSelector:'.banner_next',
			prevSelector:'.banner_prev'
          });

        });


    </script> -->
       <ul class="slides">
		  <li><img src="__PUBLIC__/phy-img/pci1.jpg" class="img-responsive" alt=""></li>
		  <li><img src="__PUBLIC__/phy-img/pci2.jpg" class="img-responsive" alt=""></li>
		  <li><img src="__PUBLIC__/phy-img/pci3.jpg" class="img-responsive" alt=""></li>
		</ul>
</div>
<div class="bg" style="height:518px; background-image:url(__PUBLIC__/Myapp/Common/images/bg1.jpg)/*tpa=http://www.hzfen.com/Myapp/Common/images/bg1.jpg*/; height:auto; background-repeat:repeat-y">
	
	<div class="col-md-3 col-md-offset-5">
		<div class="ctitle">
			<img src="__PUBLIC__/Myapp/Common/images/index1.png" />
		</div>
	</div>
	<div class="row">
		<div class="col">
			
		</div>
	</div>


	<Div class="Root">
		<div class="ctitle">
			<img src="__PUBLIC__/Myapp/Common/images/index1.png" />
		</div>
		
		
		
		
		
		 <div class="products-list">
		 	<div class="whfiv col-md-3">
		 		<div class="bg-white">
		 			<img src="__PUBLIC__/pic/SMA.jpg" style="width: 100%" alt="">
		 		
		 			<p style="padding:5px;background-color: white;">SMA</p>
		 		</div>
		 	</div>

		 	<div class="whfiv col-md-3">
		 		<div class="bg-white">
		 			<img src="__PUBLIC__/pic/SMAF.jpg" style="width: 100%" alt="">
		 			<p style="padding:5px;background-color: white;">SMAF</p>
		 		</div>
		 	</div>
		 	<div class="whfiv col-md-3">
		 		<div class="bg-white">
		 			<img src="__PUBLIC__/pic/SMB.jpg" style="width: 100%" alt="">
		 			<p style="padding:5px;background-color: white;">SMB</p>
		 		</div>
		 	</div>
		 	<div class="whfiv col-md-3">
		 		<div class="bg-white">
		 			<img src="__PUBLIC__/pic/SMBF.jpg" style="width: 100%" alt="">
		 			<p style="padding:5px;background-color: white;">SMBF</p>
		 		</div>
		 	</div>
		
		 	<div class="whfiv col-md-3">
		 		<div class="bg-white">
		 			<img src="__PUBLIC__/pic/SMC.jpg" style="width: 100%" alt="">
		 			<p style="padding:5px;background-color: white;">SMC</p>
		 		</div>
		 	</div>
		 	<div class="whfiv col-md-3">
		 		<div class="bg-white">
		 			<img src="__PUBLIC__/pic/SOD-123FL.jpg" style="width: 100%" alt="">
		 			<p style="padding:5px;background-color: white;">SOD-123FL</p>
		 		</div>
		 	</div>
		 	<div class="whfiv col-md-3">
		 		<div class="bg-white">
		 			<img src="__PUBLIC__/pic/TO-277.jpg" style="width: 100%" alt="">
		 			<p style="padding:5px;background-color: white;">TO-277</p>
		 		</div>
		 	</div>
		 	<div class="whfiv col-md-3">
		 		<div class="bg-white">
		 			<img src="__PUBLIC__/pic/DO-218AB.jpg" style="width: 100%" alt="">
		 			<p style="padding:5px;background-color: white;">DO-218AB</p>
		 		</div>
		 	</div>
		 	<div class="whfiv col-md-3">
		 		<div class="bg-white">
		 			<img src="__PUBLIC__/pic/DO-15.jpg" style="width: 100%;height: 224px;" alt="">
		 			<p style="padding:5px;background-color: white;">DO-15</p>
		 		</div>
		 	</div>
		 	<div class="whfiv col-md-3">
		 		<div class="bg-white">
		 			<img src="__PUBLIC__/pic/DO-27.jpg" style="width: 100%;height: 224px;" alt="">
		 			<p style="padding:5px;background-color: white;">DO-27</p>
		 		</div>
		 	</div>
		 	<div class="whfiv col-md-3">
		 		<div class="bg-white">
		 			<img src="__PUBLIC__/pic/DO-40.jpg" style="width: 100%;height: 224px;" alt="">
		 			<p style="padding:5px;background-color: white;">DO-40</p>
		 		</div>
		 	</div>
		 	<div class="whfiv col-md-3">
		 		<div class="bg-white">
		 			<img src="__PUBLIC__/pic/MBS.jpg" style="width: 100%;height: 224px;" alt="">
		 			<p style="padding:5px;background-color: white;">MBS</p>
		 		</div>
		 	</div>
		 	<div class="whfiv col-md-3">
		 		<div class="bg-white">
		 			<img src="__PUBLIC__/pic/MBF.jpg" style="width: 100%;height: 224px;" alt="">
		 			<p style="padding:5px;background-color: white;">MBF</p>
		 		</div>
		 	</div>
		 		<div class="indexewsmore col-md-12" style="margin-top: 20px;">
			<a href="product.htm" >
				 MORE
			</a>
		</div>
        </div>
	
		<script type="text/javascript">

        $(document).ready(function(){


   //        	$('#marquees').bxSlider({
			// auto: true,
			// controls: true,
			// speed: 2000,
			// mode: 'fade',
   //          slideMargin: 0,
			// nextSelector:'.banner_next',
			// prevSelector:'.banner_prev',
	
   //        });

        });

    </script>
	</Div>
</div>
<script>
$(function(){
var $UL   = $(".products-list ul"),
        $LI   = $(".products-list li"),
        $Prev = $(".products-list .prev"),
        $Next = $(".products-list .next");
    $LI.hover(function(){
        $(this).find(".line-t").stop().animate({width: 295}, 500);
        $(this).find(".line-r").stop().animate({height: 419}, 500);
        $(this).find(".line-b").stop().animate({width: 290}, 500);
        $(this).find(".line-l").stop().animate({height: 414}, 500);
        $(this).siblings().find(".bg").stop().animate({
            left  : 0,
            width : 100 + '%'
        }, 500)
    }, function(){
        $(this).find(".line-t").stop().animate({width: 0}, 500);
        $(this).find(".line-r").stop().animate({height: 0}, 500);
        $(this).find(".line-b").stop().animate({width: 0}, 500);
        $(this).find(".line-l").stop().animate({height: 0}, 500);
        $(this).siblings().find(".bg").stop().animate({
            left  : 50 + '%',
            width : 0
        }, 500)
    })
    $UL.width( $LI.length * 320);
    //alert(Math.ceil($(window).width() / 320));
    if( $LI.length > Math.ceil($(window).width() / 320)){
        $Next.css("background", "url(img/next02.png) no-repeat");
    }
});
</script>
	
<Div class="indexabout">
	<Div class="indexabout_left">
	
	</Div>
	<Div class="indexaboutmid">
		<div class="Root">
			
			<div class="aleft">
				<Div>
					<img src="__PUBLIC__/phy-img/tit_about.png" />
				</Div>
				<div class="aleft_mid">
					<p>深圳市赛特微电子有限公司依托三十余年的专业经验，年产销二极管120亿只，产品包括表面贴装和轴向插接系列二极管 及其他特种器件等上千余个品种，同时也对外承接各种分立 器件的封装加工业务，可以为客户提供大批量、全系列、多品种、 专业化的一揽子解决方案。公司品种规格齐全，有普通整流、快速恢复、高效率、超快速、肖特基、整流桥、以及双向触发、 高压、瞬态抑制、开关、稳压等各种系列的二极管/整流桥。... 产品广泛应用于节能灯具、汽车电子、智能电器、开关电源、控制器、音箱等领域并远销欧美及东南亚 地区，在客户中享有良好的口碑。</p><p><br/></p>				</div>
				<div>
					<a class="indexaboutmore" href="aboutwe.htm" >
						 READ MORE
					</a>
				</div>
			</div>
			
			
		</div>
	</Div>
	<div class="indexabout_right">
	</div>
</Div> 
<div class="bg" style="height:740px; background-image:url(__PUBLIC__/Myapp/Common/images/bg2.jpg)/*tpa=http://www.hzfen.com/Myapp/Common/images/bg2.jpg*/;">
	<Div class="Root">
		<div style="text-align:center; margin:0px; overflow:hidden; width:100%; padding:30px 0px 60px 0px">
			<img src="__PUBLIC__/Myapp/Common/images/index9.png" >
		</div>
					<p style="text-align: left; padding-bottom:40px;">公司引进全套进口先进设备和科学管理体系，目前拥有高性能的生产线一贯机，全自动检测机，均已经达到或领先于国内同行业先进的技术水平，
先进的设备以及专业的队伍，严谨的管理、科学的工艺保证了产品质量的稳定与可靠。年产销二极管总量约120亿只。</p>
			<div id="screen" class="wrap clear">
  <div class="bd">
    <div class="mt"><a href="javascript:void(0);"><img src="__PUBLIC__/pic/gn1.jpg" /></a>
     <!--  <div class="bg"></div> -->
      <div>
        <!-- <h2><a href="javascript:void(0);" onfocus="this.blur()">1</a></h2> -->
        <p>1</p>
      </div>
    </div>
    <div class="mt"><a href="javascript:void(0);"><img src="__PUBLIC__/pic/gn2.jpg" /></a>
      <div class="bg"></div>
      <div>
       <!--  <h2><a href="javascript:void(0);" onfocus="this.blur()">2</a></h2> -->
        <h2><a href="javascript:void(0);" >全自动固晶机设备</a></h2>
      </div>
    </div>
    <div class="mt"><a href="javascript:void(0);"><img src="__PUBLIC__/pic/gn3.jpg" /></a>
      <div class="bg"></div>
      <div>
       <!--  <h2><a href="javascript:void(0);" onfocus="this.blur()">3</a></h2> -->
         <h2><a href="javascript:void(0);" >自动测试一贯机</a></h2>
      </div>
    </div>
    <div class="mt"><a href="javascript:void(0);"><img src="__PUBLIC__/pic/gn4.jpg" /></a>
     <!--  <div class="bg"></div> -->
      <div>
       <!--  <h2><a href="javascript:void(0);" onfocus="this.blur()">4</a></h2>
        -->
      </div>
    </div>
    <div class="mt"><a href="javascript:void(0);"><img src="__PUBLIC__/pic/gn5.jpg" /></a>
      <!-- <div class="bg"></div> -->
      <div>
       <!--  <h2><a href="javascript:void(0);" onfocus="this.blur()">5</a></h2> -->
        <p></p>
      </div>
    </div>
    <div class="mt"><a href="javascript:void(0);"><img src="__PUBLIC__/pic/gn6.jpg" /></a>
      <div class="bg"></div>
      <div>
        <!-- <h2><a href="javascript:void(0);" onfocus="this.blur()">6</a></h2> -->
         <h2><a href="javascript:void(0);" >自动切片成型设备</a></h2>
      </div>
    </div>
    <div class="mt"><a href="javascript:void(0);"><img src="__PUBLIC__/pic/gn7.jpg" /></a>
      <div class="bg"></div>
      <div>
        <!-- <h2><a href="javascript:void(0);" onfocus="this.blur()">7</a></h2> -->
         <h2><a href="javascript:void(0);" >环氧树脂注塑设备</a></h2>
      </div>
    </div>
    <div class="mt"><a href="javascript:void(0);"><img src="__PUBLIC__/pic/gn8.jpg" /></a>
      <!-- <div class="bg"></div> -->
      <div>
        <!-- <h2><a href="javascript:void(0);" onfocus="this.blur()">8</a></h2> -->
       
      </div>
    </div>
  </div>
  <div class="hd">
    <ul>
      <li><a href="javascript:void(0);" onfocus="this.blur()"> <img src="__PUBLIC__/pic/gn1.jpg"><!-- <span class="txt">11</span><span class="bg"></span> --> <span class="mask"></span></a></li>
      <li><a href="javascript:void(0);" onfocus="this.blur()"> <img src="__PUBLIC__/pic/gn2.jpg"><!-- <span class="txt">2</span><span class="bg"></span>  --><span class="mask"></span></a></li>
      <li><a href="javascript:void(0);" onfocus="this.blur()"> <img src="__PUBLIC__/pic/gn3.jpg"><!-- <span class="txt">3</span><span class="bg"></span> --> <span class="mask"></span></a></li>
      <li><a href="javascript:void(0);" onfocus="this.blur()"> <img src="__PUBLIC__/pic/gn4.jpg"><!-- <span class="txt">4</span><span class="bg"></span> --> <span class="mask"></span></a></li>
      <li><a href="javascript:void(0);" onfocus="this.blur()"> <img src="__PUBLIC__/pic/gn5.jpg"><!-- <span class="txt">5</span><span class="bg"></span> --> <span class="mask"></span></a></li>
      <li><a href="javascript:void(0);" onfocus="this.blur()"> <img src="__PUBLIC__/pic/gn6.jpg"><!-- <span class="txt">6</span><span class="bg"></span> --> <span class="mask"></span></a></li>
      <li><a href="javascript:void(0);" onfocus="this.blur()"> <img src="__PUBLIC__/pic/gn7.jpg"><!-- <span class="txt">7</span><span class="bg"></span>  --><span class="mask"></span></a></li>
      <li><a href="javascript:void(0);" onfocus="this.blur()"> <img src="__PUBLIC__/pic/gn8.jpg"><!-- <span class="txt">8</span><span class="bg"></span> --> <span class="mask"></span></a></li>
    </ul>
  </div>
</div>
<script>anisee.init.screens()</script>

</div>

	<!-- 	<div class="indexewsmore" style="margin-top: 20px;">
			<a href="javascript:void(0);" >
				 MORE
			</a>
		</div> -->
	</Div>
</div>
<div class="bg" style="height:670px; background-image:url(__PUBLIC__/Myapp/Common/images/bg3.jpg)/*tpa=http://www.hzfen.com/Myapp/Common/images/bg3.jpg*/;">
	<div class="Root">
		<div class="news_left">
			<Div style="width:100%; overflow:hidden; padding-top:90px; padding-bottom:25px;">
				<img src="__PUBLIC__/Myapp/Common/images/index11.png" >
			</Div>
			<div class="news_left_img">
				<a href="gsxw.htm" >
					<img src="__PUBLIC__/pic/04.jpg" >
					<div>
						<span style="float:left; font-size:18px;">第六届中国电子信息博览会暨第91届中国电子展</span>
						<span style="float:right; font-size:14px;">2018-04-23</span>
					</div>
				</a>
			</div>
		</div>
		<div class="news_right">
			<ul>
								<li>
					<div class="nt">
						<div class="nt_1">
							2018/03						</div>
						<div class="nt_2">
							20						</div>
					</div>
					<Div class="news_right_mid">
						<div class="news_right_mid_top">
							<a href="hyxw.htm" >半导体行业并购加速车用芯片需求将激增</a>
						</div>
						<div class="news_right_mid_jj">
							 据外媒22日消息，日本半导体芯片大厂瑞萨电子拟收购美股芯片厂商英特矽尔(Intersil)，双方已就收购一事进入最终协商阶段....					</div>
					</Div>
				</li>				<li>
					<div class="nt">
						<div class="nt_1">
							2018/03						</div>
						<div class="nt_2">
							19						</div>
					</div>
					<Div class="news_right_mid">
						<div class="news_right_mid_top">
							<a href="hyxw.htm">三星拟与中国企业合作生产逻辑芯片：机会与挑战</a>
						</div>
						<div class="news_right_mid_jj">
							作为世界最大的内存芯片商，三星渴望强化自己的技术实力，减少对传统内存芯片的依赖。由于中国制造商大规模扩充产能，传统内存芯片已经变成...					</div>
					</Div>
				</li>				<li>
					<div class="nt">
						<div class="nt_1">
							2018/03						</div>
						<div class="nt_2">
							13						</div>
					</div>
					<Div class="news_right_mid">
						<div class="news_right_mid_top">
							<a href="hyxw.htm">AMOLED势不可挡 大陆产业链精彩纷呈</a>
						</div>
						<div class="news_right_mid_jj">
							        首次覆盖给予增持评级。需求旺盛，供给充分，AMOLED爆发势不可挡...						</div>
					</Div>
				</li>			 			</ul>
		</div>
	</div>
</div>

{include file="common/footer"}
	


<script>
$(function(){
		  
		$(window).scroll(function(e){h();})
        $(window).resize(function(){h();})
	 
	});
function h(){
	var scrolltop=$(document).scrollTop();	
	var docwidth=$(document).width()
	 
	if (scrolltop>115)
	{
		 
		 
		$('.gotop').show();
		
	}
	else
	{
		  
		 
		$('.gotop').hide();
		
	}
}
</script>
<!-- <script src="lib/jquery-1.11.0.min.js" type="text/javascript"></script> -->
<!-- <script type="text/javascript" src="lib/jquery.terseBanner.min.js"></script>
<script type="text/javascript" src="lib/script.js"></script> -->
<a class="gotop" href="javascript:void(0);" style="position:fixed; z-index:99999999999; z-index:40px; bottom:50px; right:10px; display:none">
	<img src="__PUBLIC__/Myapp/Common/images/up2.png "  />
</a>
<script>
$(function(){
	$(".gotop").on("click",function(e){
			$("html,body").animate({scrollTop :0},400);
			return false;	
		});
});
</script>

<script>
	window.onload = function(){
		var map = new BMap.Map("containerss");          	// 创建地图实例
		var  mapStyle = {style:"white"};					//黑色
		map.setMapStyle(mapStyle);						//设置样式进去
	  	
		map.addControl(new BMap.NavigationControl());	//控制条
		//map.enableScrollWheelZoom() ;					//滚动缩放
		
		 


		//余杭公司
		var pt2 = new BMap.Point(114.089647,22.553952);
		var pt2icon = new BMap.Icon("Myapp/Common/images/map.png"/*tpa=http://www.hzfen.com/Myapp/Common/images/map.png, new BMap.Size(105,118), {'anchor':new BMap.Size(25,36)}*/);
		var markerpt2 = new BMap.Marker(pt2,{icon:pt2icon});
		map.addOverlay(markerpt2);


		//默认显示杭州的
		map.centerAndZoom(pt2, 17);
		
		 
		
	}
	$('#menu li').hover(function(){
		$(this).find('ul').show();

	},function(){
		$(this).find('ul').hide();
	})
</script>
</body>
</html>