<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh" lang="zh">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name = "format-detection" content="telephone = no" />
<META http-equiv="x-ua-compatible" content="ie=7">
<title>赛特微</title>
<link rel="stylesheet" href="__PUBLIC__/Wap/Common/style/swiper.min.css" >
<link rel="stylesheet" media="all" type="text/css" href="__PUBLIC__/Wap/Common/style/reset.css"  />
<link rel="stylesheet" media="all" type="text/css" href="__PUBLIC__/Wap/Common/style/style.css"  />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Myapp/Common/css/jquery.fancybox.css-v=2.1.2.css"  media="screen" />
<link rel="stylesheet" href="__PUBLIC__/Wap/Common/style/flexslider.css" >
<script src="__PUBLIC__/Wap/Common/js/jquery-1.11.1.min.js" ></script>
<script src="__PUBLIC__/Wap/Common/js/layout.js" ></script>
<script src="__PUBLIC__/Wap/Common/js/load.js" ></script>
<script src="__PUBLIC__/Wap/Common/js/swiper.min.js" ></script>
<script src="__PUBLIC__/Wap/Common/js/jquery.flexslider-min.js" ></script>
<script type="text/javascript" src="__PUBLIC__/Myapp/Common/js/jquery.fancybox.js-v=2.1.3.js" ></script>

<script>
$(function(){
	$('.flexslider').flexslider({
		  animation: "slide", 
		  controlsContainer: ".home" ,
		  slideshowSpeed: 3000,
		touch:true,
		directionNav:true,
		  before: function (slider) {
slider.pause();
slider.play();
}
	});	
	$('.product_w').flexslider({
		  animation: "slide", 
		  controlsContainer: ".home" ,
		  slideshowSpeed: 3400,
		touch:true,
		directionNav:true,
		  controlNav: true,
//触屏滑动后继续自动轮播
		  before: function (slider) {
		  slider.pause();
		  slider.play();
}
	});	
	$('.product_tw').flexslider({
		  animation: "slide", 
		  controlsContainer: ".home" ,
		  slideshowSpeed: 3200,
		touch:true,
		directionNav:true,
		  controlNav: true,
//触屏滑动后继续自动轮播
		  before: function (slider) {
		  slider.pause();
		  slider.play();
}
	});
	$('.gc_w').flexslider({
		  animation: "slide", 
		  controlsContainer: ".home" ,
		  slideshowSpeed: 3400,
		  touch:true,
		  directionNav:true,
//触屏滑动后继续自动轮播
		  before: function (slider) {
		  slider.pause();
		  slider.play();
}
	});	
	
	  $('.showzz').fancybox();
});
	 

</script>
<style>
.flex-control-nav{
bottom:35px;}
 .flex-direction-nav{display: none;}
.product_w .indexpro ul li {

    padding-bottom: 20px !important;}
    .img-width{width: 50%;}
    .img-widths{width: 80%;}
</style>
 
</head>
<body>
<div class="mmm">
		<div>
			<ul>
				<li class="m1">
					<a   href="index.htm" >网站首页<span></span></a>
					 
				</li>
				<li class="m2">
					<a   href="wap.about.htm" >关于赛特微<span></span></a>
					 
				</li>
				<li class="m3">
					<a class="submenu" href="wap.product.htm" >产品中心<span></span></a>
					 
				</li>
				<li class="m4">
					<a   href="wap.gsxw.htm" >新闻中心<span></span></a>
					 
				</li>
			
				<li>
					<a href="wap.contact.html" >联系我们</a>
				</li>
				<li>
					<a  href="https://saitew.1688.com/" target="_blank">在线商城</a>
				</li>
			</ul>

		</div>
</div> 


<DIV class="wapper" id="block_mid">
	<Div id="header">
		<Div class="wapper">
			<span></span>
			<a href="javascript:;" lang="1" class="showmenu"></a>
		</Div>
	</Div>
	
	<div class="comdiv">
		<div class="flexslider" style="margin-bottom:0px; position:relative">
		   <ul class="slides">
		   	 <li>
				 
				<a href="">
					
					<img src="__PUBLIC__/phy-img/pci1.jpg"  />
				</a>
			</li><li>
				 
				<a href="">
					
					<img src="__PUBLIC__/phy-img/pci2.jpg"  />
				</a>
			</li><li>
				 
				<a href="">
					
					<img src="__PUBLIC__/phy-img/pci3.jpg"  />
				</a>
			</li>			  
		   </ul>
		    
		</div>
	</div>
	<div class="comdiv bg" style="height:930px; background-image:url(__PUBLIC__/Wap/Common/images/bg1.jpg);    background-size: cover;
    margin-top: -5px;">
		<div class="div600">
			<div class="comdiv" style="padding-top:40px; padding-bottom:35px;">
				<img src="__PUBLIC__/Wap/Common/images/index1.png"  style="float:left;" />
			</div>
			<div class="comdiv indexpro">
				<div class="product_w" style="margin-bottom:0px;position:relative ">
		   <ul class="slides">
		   	 <li>
				 
				<a href="__PUBLIC__/pic/SMAF.jpg" title="SMAF" class="showzz">
					
					<img src="__PUBLIC__/pic/SMAF.jpg" class="img-width"  />
					<p style="margin-top: 10px;">SMAF</p>
				</a>
			</li><li>
				 
				<a href="__PUBLIC__/pic/SMA.jpg"  title="SMA" class="showzz" >
					
					<img src="__PUBLIC__/pic/SMA.jpg" class="img-width" />
					<p style="margin-top: 10px;">SMA</p>
				</a>
			</li><li>
				 
				<a href="__PUBLIC__/pic/SMB.jpg" title="SMB" class="showzz">
					
					<img src="__PUBLIC__/pic/SMB.jpg" class="img-width" />
					<p style="margin-top: 10px;">SMB</p>
				</a>
			</li>
			 <li>
				 
				<a href="__PUBLIC__/pic/SMBF.jpg" title="SMBF" class="showzz">
					
					<img src="__PUBLIC__/pic/SMBF.jpg" class="img-width"  />
					<p style="margin-top: 10px;">SMBF</p>
				</a>
			</li><li>
				 
				<a href="__PUBLIC__/pic/SMC.jpg"  title="SMC" class="showzz" >
					
					<img src="__PUBLIC__/pic/SMC.jpg" class="img-width" />
					<p style="margin-top: 10px;">SMC</p>
				</a>
			</li><li>
				 
				<a href="__PUBLIC__/pic/SOD-123FL.jpg" title="SOD-123FL" class="showzz">
					
					<img src="__PUBLIC__/pic/SOD-123FL.jpg" class="img-width" />
					<p style="margin-top: 10px;">SOD-123FL</p>
				</a>
			</li>	
			<li>
				 
				<a href="__PUBLIC__/pic/TO-277.jpg" title="TO-277" class="showzz">
					
					<img src="__PUBLIC__/pic/TO-277.jpg" class="img-width" />
					<p style="margin-top: 10px;">TO-277</p>
				</a>
			</li>
			 <li>
				 
				<a href="__PUBLIC__/pic/DO-218AB.jpg" title="DO-218AB" class="showzz">
					
					<img src="__PUBLIC__/pic/DO-218AB.jpg" class="img-width"  />
					<p style="margin-top: 10px;">DO-218AB</p>
				</a>
			</li><li>
				 
				<a href="__PUBLIC__/pic/MBS.jpg"  title="MBS" class="showzz" >
					
					<img src="__PUBLIC__/pic/MBS.jpg" class="img-width"  style="width: 40%;" />
					<p style="margin-top: 10px;">MBS</p>
				</a>
			</li><li>
				 
				<a href="__PUBLIC__/pic/MBF.jpg" title="MBF" class="showzz">
					
					<img src="__PUBLIC__/pic/MBF.jpg" class="img-width" style="width: 40%;"/>
					<p style="margin-top: 10px;">MBF</p>
				</a>
			</li>			  
		   </ul>
		    
		</div>
		<div class="product_tw" style="margin-bottom:0px;position:relative;margin-top: 20px; ">
		   <ul class="slides">
		   	 <li>
				 
				<a href="__PUBLIC__/pic/DO-15.jpg" title="DO-15" class="showzz">
					
					<img src="__PUBLIC__/pic/DO-15.jpg" class="img-widths"  />
					<p style="margin-top: 10px;">DO-15</p>
				</a>
			</li>
			<li>
				 
				<a href="__PUBLIC__/pic/DO-27.jpg" title="DO-27" class="showzz">
					
					<img src="__PUBLIC__/pic/DO-27.jpg" class="img-widths"  />
					<p style="margin-top: 10px;">DO-27</p>
				</a>
			</li>
			<li>
				 
				<a href="__PUBLIC__/pic/DO-40.jpg" title="DO-40" class="showzz">
					
					<img src="__PUBLIC__/pic/DO-40.jpg" class="img-widths"  />
					<p style="margin-top: 10px;">DO-40</p>
				</a>
			</li>

		</ul>
		</div>
		<!-- 		<div class="product_w" style="margin-top: 20px;">
        <div class="swiper-wrapper">
			<div class="swiper-slide">
				<a href="pic/SMAF.jpg"  title="SMAF" class="showzz"><img src="pic/SMAF.jpg"  class="zsimg" /></a>
			</div><div class="swiper-slide">
				<a href="pic/SMA.jpg"  title="SMA" class="showzz"><img src="pic/SMA.jpg"  class="zsimg" /></a>
			</div><div class="swiper-slide">
				<a href="pic/SMB.jpg"  title="SMA" class="showzz"><img src="pic/SMB.jpg"  class="zsimg" /></a>
			</div>	
		  
            
        </div>
      
        <div  style="position:static; margin-top:55px;" class="swiper-pagination"></div>
    </div> -->
    <!-- <script>
    	  var swiper = new Swiper('.product_w', {
        pagination: '.swiper-pagination',
        slidesPerView: 2,
        paginationClickable: true,
        spaceBetween: 30
    });
    </script> -->
				
			<Div class="comdiv" style="margin-top: 30px; ">
				<a href="javascript:void(0)" >
					<img src="__PUBLIC__/Wap/Common/images/index7.png"  />
				</a>
			</Div>
			</div>
		</div>
	</div> 
	<div class="comdiv bg" style="height:790px; background-image:url(__PUBLIC__/Wap/Common/images/bg2.jpg)/*tpa=http://www.hzfen.com/Wap/Common/images/bg2.jpg*/;">
		<div class="div600">
			<div class="comdiv" style="padding-top:75px; padding-bottom:35px;">
				<img src="__PUBLIC__/phy-img/tit_about.png"  style="float:left;" />
			</div>
			<Div class="comdiv" style="text-align:left; line-height:44px; color:#fff; padding-bottom:50px;font-size: 16px;">
				<p>深圳市赛特微电子有限公司依托三十余年的专业经验，年产销二极管120亿只，产品包括表面贴装和轴向插接系列二极管 及其他特种器件等上千余个品种，同时也对外承接各种分立 器件的封装加工业务，可以为客户提供大批量、全系列、多品种、 专业化的一揽子解决方案。公司品种规格齐全，有普通整流、快速恢复、高效率、超快速、肖特基、整流桥、以及双向触发、 高压、瞬态抑制、开关、稳压等各种系列的二极管/整流桥。...			</Div>
			<Div class="comdiv">
				<a href="javascript:void(0);" ><img src="__PUBLIC__/Wap/Common/images/index4.png"  /></a>
			</Div>
		</div>
	</div>
	<div class="comdiv bg" style="height:auto; background-size:cover; padding-bottom:80px; background-image:url(__PUBLIC__/Wap/Common/images/bg3.jpg)/*tpa=http://www.hzfen.com/Wap/Common/images/bg3.jpg*/;">
		<div class="div600">
			<div class="comdiv" style="padding-top:75px; padding-bottom:40px;">
				<img src="__PUBLIC__/Myapp/Common/images/index9.png"    />
			</div>
			<p style="text-align: left; padding-bottom:40px;">公司引进全套进口先进设备和科学管理体系，目前拥有高性能的生产线一贯机，全自动检测机，均已经达到或领先于国内同行业先进的技术水平，
先进的设备以及专业的队伍，严谨的管理、科学的工艺保证了产品质量的稳定与可靠。年产销二极管总量约120亿只。</p>
			<div class="comdiv indexcase">
				<!-- <ul>
					<li>
						<a href="wap.php-s=-Case-show-id-9.html" >
							<img src="pic/gn1.jpg"  />
							<div class="comdiv">
								工厂设备1						</div>
						</a>
					</li><li>
						<a href="wap.php-s=-Case-show-id-7.html" >
							<img src="pic/gn2.jpg"  />
							<div class="comdiv">
								工厂设备2			</div>
						</a>
					</li>								</ul>
			-->
				<div class="gc_w" style="margin-bottom:0px; position:relative">
		   <ul class="slides">
		   	<li>
		   		<a href="__PUBLIC__/pic/gn1.jpg" title="工厂设备1" class="showzz">
					
					<img src="__PUBLIC__/pic/gn1.jpg" class="img-width" />
				</a>
		   	</li>
		   	<li>
		   		<a href="__PUBLIC__/pic/gn2.jpg" title="全自动固晶机设备" class="showzz">
					
					<img src="__PUBLIC__/pic/gn2.jpg" class="img-width" />
					<p style="margin-top: 10px;">全自动固晶机设备</p>
				</a>
		   	</li>
		   	<li>
		   		<a href="__PUBLIC__/pic/gn3.jpg" title="自动测试一贯机" class="showzz">
					
					<img src="__PUBLIC__/pic/gn3.jpg" class="img-width" />
					<p style="margin-top: 10px;">自动测试一贯机</p>
				</a>
		   	</li>
		   	<li>
		   		<a href="__PUBLIC__/pic/gn4.jpg" title="工厂设备4" class="showzz">
					
					<img src="__PUBLIC__/pic/gn4.jpg" class="img-width" />
				</a>
		   	</li>
		   	<li>
		   		<a href="__PUBLIC__/pic/gn5.jpg" title="工厂设备5" class="showzz">
					
					<img src="__PUBLIC__/pic/gn5.jpg" class="img-width" />
				</a>
		   	</li>
		   	<li>
		   		<a href="__PUBLIC__/pic/gn6.jpg" title="自动切片成型设备" class="showzz">
					
					<img src="__PUBLIC__/pic/gn6.jpg" class="img-width" />
					<p style="margin-top: 10px;">自动切片成型设备</p>
				</a>
		   	</li>
		   	<li>
		   		<a href="__PUBLIC__/pic/gn7.jpg" title="环氧树脂注塑设备" class="showzz">
					
					<img src="__PUBLIC__/pic/gn7.jpg" class="img-width" />
					<p style="margin-top: 10px;">环氧树脂注塑设备</p>
				</a>
		   	</li>
		   	<li>
		   		<a href="__PUBLIC__/pic/gn8.jpg" title="工厂设备8" class="showzz">
					
					<img src="__PUBLIC__/pic/gn8.jpg" class="img-width" />
				</a>
		   	</li>
		   </ul>
		</div>
		</div> 
			<Div class="comdiv" style=" padding-top:30px;">
				<a href="javascript:void(0)" >
					<img src="__PUBLIC__/Wap/Common/images/index7.png"  />
				</a>
			</Div>
		</div>
	</div>
	<div class="comdiv bg" style="height:1370px; background-image:url(__PUBLIC__/Wap/Common/images/bg4.jpg)/*tpa=http://www.hzfen.com/Wap/Common/images/bg4.jpg*/;">
		<div class="div600">
			<div class="comdiv" style="padding-top:58px; padding-bottom:80px;">
				<img src="__PUBLIC__/Wap/Common/images/index8.png"  style="float:left;"   />
			</div>
			<div class="comdiv">
				
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<a href="wap.php-s=-News-show-id-712.html" >
							<div class="comdiv indexnews_tj">
								<img src="__PUBLIC__/pic/SMAF.jpg"  style="width:auto; height:100%" />
								<div class="comdiv">
									<span style="float:left">xxxxx</span><span style="float:right">2016-11-03</span>
								</div>
							</div>
							</a>
						</div><div class="swiper-slide">
							<a href="javascript:void(0);" >
							<div class="comdiv indexnews_tj">
								<img src="__PUBLIC__/pic/SMAF.jpg"  style="width:auto; height:100%" />
								<div class="comdiv">
									<span style="float:left">xxxxx</span><span style="float:right">2016-10-31</span>
								</div>
							</div>
							</a>
						</div><div class="swiper-slide">
							<a href="javascript:void(0);" >
							<div class="comdiv indexnews_tj">
								<img src="__PUBLIC__/pic/SMAF.jpg"  style="width:auto; height:100%" />
								<div class="comdiv">
									<span style="float:left">xxxxxx</span><span style="float:right">2016-10-27</span>
								</div>
							</div>
							</a>
						</div><div class="swiper-slide">
							<a href="javascript:void(0);" >
							<div class="comdiv indexnews_tj">
								<img src="__PUBLIC__/pic/SMAF.jpg"  style="width:auto; height:100%" />
								<div class="comdiv">
									<span style="float:left">xxxxxxxx</span><span style="float:right">2016-10-24</span>
								</div>
							</div>
							</a>
						</div><div class="swiper-slide">
							<a href="javascript:void(0);" >
							<div class="comdiv indexnews_tj">
								<img src="__PUBLIC__/pic/SMAF.jpg"  style="width:auto; height:100%" />
								<div class="comdiv">
									<span style="float:left">xxxxxx...</span><span style="float:right">2016-10-21</span>
								</div>
							</div>
							</a>
						</div><div class="swiper-slide">
							<a href="javascript:void(0);" >
							<div class="comdiv indexnews_tj">
								<img src="__PUBLIC__/pic/SMAF.jpg"  style="width:auto; height:100%" />
								<div class="comdiv">
									<span style="float:left">xxxxxxxxxxx...</span><span style="float:right">2016-10-20</span>
								</div>
							</div>
							</a>
						</div><div class="swiper-slide">
							<a href="javascript:void(0);" >
							<div class="comdiv indexnews_tj">
								<img src="__PUBLIC__/pic/SMAF.jpg"  style="width:auto; height:100%" />
								<div class="comdiv">
									<span style="float:left">xxxxxxx</span><span style="float:right">2016-10-17</span>
								</div>
							</div>
							</a>
						</div><div class="swiper-slide">
							<a href="javascript:void(0);" >
							<div class="comdiv indexnews_tj">
								<img src="__PUBLIC__/pic/SMAF.jpg"  style="width:auto; height:100%" />
								<div class="comdiv">
									<span style="float:left">xxxxxxxx</span><span style="float:right">2016-09-13</span>
								</div>
							</div>
							</a>
						</div><div class="swiper-slide">
							<a href="javascript:void(0);" >
							<div class="comdiv indexnews_tj">
								<img src="__PUBLIC__/pic/SMAF.jpg"  style="width:auto; height:100%" />
								<div class="comdiv">
									<span style="float:left">xxxxxxxxxxxxx...</span><span style="float:right">2016-09-09</span>
								</div>
							</div>
							</a>
						</div><div class="swiper-slide">
							<a href="javascript:void(0);" >
							<div class="comdiv indexnews_tj">
								<img src="__PUBLIC__/pic/SMAF.jpg"  style="width:auto; height:100%" />
								<div class="comdiv">
									<span style="float:left">xxxxxxxxxxx...</span><span style="float:right">2016-09-08</span>
								</div>
							</div>
							</a>
						</div><div class="swiper-slide">
							<a href="javascript:void(0);" >
							<div class="comdiv indexnews_tj">
								<img src="__PUBLIC__/pic/SMAF.jpg"  style="width:auto; height:100%" />
								<div class="comdiv">
									<span style="float:left">xxxxxxxxxxxx</span><span style="float:right">2016-08-30</span>
								</div>
							</div>
							</a>
						</div>						 
						 
						 
					</div>
					<!-- Add Pagination -->
					<div style=" bottom:auto; top:10px; text-align:left;" id="indexnews" class="swiper-pagination"></div>
				</div>

				<!-- Initialize Swiper -->
				<script>
				var swiper = new Swiper('.swiper-container', {
					pagination: '.swiper-pagination',
					paginationClickable: true
				});
				</script>
				
				
			</div>
		</div>
		<Div class="div600 newslist_index">
			<ul>
								<li>
					<span><b>07</b>2016/11</span>
					<div class="newslist_index_top">
						<div class="comdiv comdiv_a">
							<a href="wap.php-s=-News-show-id-713.html" >半导体行业并购加速车用芯片需求将激增</a>
						</div>
						<Div class="comdiv">
								据外媒22日消息，日本半导体芯片大厂瑞萨电子拟收购美股芯片厂商英特矽尔(Intersil)，双方已就收购一事进入最终协商阶段....							</Div>
					</div>
				</li>				<li>
					<span><b>13</b>2016/10</span>
					<div class="newslist_index_top">
						<div class="comdiv comdiv_a">
							<a href="wap.php-s=-News-show-id-705.html" >三星拟与中国企业合作生产逻辑芯片：机会与挑战</a>
						</div>
						<Div class="comdiv">
								作为世界最大的内存芯片商，三星渴望强化自己的技术实力，减少对传统内存芯片的依赖。由于中国制造商大规模扩充产能，传统内存芯片已经变成...						</Div>
					</div>
				</li>		
				</li>							</ul>
		</Div>
		<Div class="comdiv" style=" padding-top:75px;">
				<a href="wap.php-s=-News-index.html" >
					<img src="__PUBLIC__/Wap/Common/images/index7.png"  />
				</a>
			</Div>
	</div>
	<div class="row">
		
	
	<div class="comdiv" id="footer">
<p><img src="__PUBLIC__/phy-img/code_max.jpg" alt="" style="width: 100px;" /></p>
<p style="font-size: 19px;">Copyright ©深圳市赛特微电子有限公司</p>
  			<p><span style="width: 32px;height:32px;"><img src="__PUBLIC__/phy-img/email_pic.png" style="vertical-align:middle;" alt=""></span>
  			<span style="width: 200px;padding-bottom: 5px;">2355647681@qq.com</span> &nbsp;&nbsp;&nbsp;<span style="width: 32px;"><img style="vertical-align:middle;" src="__PUBLIC__/phy-img/phone_pic.png" alt="" /></span>
  			<span style="width: 200px;">0755-83661636</span></p>
  			<p></p>
  			<p><span style="width: 32px;"><img style="vertical-align:middle;" src="__PUBLIC__/phy-img/shouji_pic.png" alt="" /></span>
  			<span style="width: 200px;">0755-83668012</span>&nbsp;&nbsp;&nbsp;技术支持：<a href="http://wwww.pstldz.com" target="_blank">Personal tailor</a> &nbsp;&nbsp;<a href="http://wwww.wunuoyoupin.com">吾诺优品</a></p>

		<p></p>
	</div>
	</div>
</DIV>

<script>
	
</script>
</body>
</html>