<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <title>关于赛特微</title>
<meta name="keywords" content="杭州法恩电气自动化有限公司、锅炉控制器、锅炉控制系统、锅炉PLC控制系统、锅炉PLC" />
<meta name="description" content="杭州法恩电气自动化有限公司是国内唯一一家专用锅炉PLC控制器及锅炉PLC控制系统的研发、生产、销售商家。目前公司的锅炉专用PLC控制器系列产品全线上市，满足各款锅炉的智能控制，深受广大用户的好评。欢迎咨询:13777839248." />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Myapp/Common/css/jquery.fancybox.css-v=2.1.2.css"  media="screen" />
<script type="text/javascript" src="__PUBLIC__/Myapp/Common/js/jquery2.js" ></script>
  <script type="text/javascript" src="__PUBLIC__/Myapp/Common/js/jquery.bxslider.js" ></script>
  <script type="text/javascript" src="__PUBLIC__/Myapp/Common/js/wow.min.js" ></script>
  <script type="text/javascript" src="__PUBLIC__/Myapp/Common/js/load.js" ></script>
  <link href="__PUBLIC__/Myapp/Common/css/jquery.bxslider.css"  rel="stylesheet" type="text/css">
   <link href="__PUBLIC__/Myapp/Common/css/bootstrap.min.css"  rel="stylesheet" type="text/css">
  <link href="__PUBLIC__/Myapp/Common/css/animate.min.css"  rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Myapp/Common/css/theme.css" >
  <script>

</script>
<script type="text/javascript" src="__PUBLIC__/Myapp/Common/js/jquery.fancybox.js-v=2.1.3.js" ></script>
<style>
	
	.dzzh_text{position: absolute;bottom: 2px;padding: 5px ; background: rgba(0, 0, 0, .3);color: white;font-size: 16px;width: 687px}
	.dzzh_text2{position: absolute;bottom: 2px;padding: 5px ; background: rgba(0, 0, 0, .3);color: white;font-size: 16px;width: 482px}
	.gjzh .row img{width: 100%;}
	.padzero{padding:0 !important;}
</style>
 <script>
$(function(){
	 $('.showzz').fancybox();
});
</script>
</head>
<body>

<script type="text/javascript">
        function browserRedirect() {
            var sUserAgent = navigator.userAgent.toLowerCase();
            var bIsIpad = sUserAgent.match(/ipad/i) == "ipad";
            var bIsIphoneOs = sUserAgent.match(/iphone os/i) == "iphone os";
            var bIsMidp = sUserAgent.match(/midp/i) == "midp";
            var bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == "rv:1.2.3.4";
            var bIsUc = sUserAgent.match(/ucweb/i) == "ucweb";
            var bIsAndroid = sUserAgent.match(/android/i) == "android";
            var bIsCE = sUserAgent.match(/windows ce/i) == "windows ce";
            var bIsWM = sUserAgent.match(/windows mobile/i) == "windows mobile";
            
            if (bIsIpad || bIsIphoneOs || bIsMidp || bIsUc7 || bIsUc || bIsAndroid || bIsCE || bIsWM) {
                window.location.href="{:url('index/index/index_mo')}";
            } else {
               
            }
        }

        browserRedirect();
</script>
{include file="common/header"}
<div class="nybanner" style="">
<img src="__PUBLIC__/phy-img/about_1.jpg" class="img-responsive" alt="">
</div> 
<div class="bg" style="background-image:url(__PUBLIC__/Myapp/Common/images/ab12.jpg)/*tpa=http://www.hzfen.com/Myapp/Common/images/ab12.jpg*/; background-repeat:repeat-y; padding-bottom:80px;">
	<div class="Root">
		<div style="width:100%; overflow:hidden; padding-top:80px; padding-bottom:55px;">
			<img src="__PUBLIC__/Myapp/Common/images/ab1.png" >
		</div>
		<div style="font-size:14px; line-height:30px; color:#646464;">
			<p>&nbsp;&nbsp;&nbsp;&nbsp;{$Think.lang.a4} 
<br/>&nbsp;&nbsp;&nbsp;&nbsp;{$Think.lang.a5}</p><p></p>
		</div>
	</div>
</div>

<div class="bg" style="    border-top: 1px solid #dfdfdf;background-image:url(__PUBLIC__/Myapp/Common/images/ab12.jpg)/*tpa=http://www.hzfen.com/Myapp/Common/images/ab12.jpg*/; background-repeat:repeat-y; padding-bottom:80px;">
	<div class="Root">
		<div style="width:100%; overflow:hidden; padding-top:20px; padding-bottom:35px;">
			<img src="__PUBLIC__/phy-img/ab1.png" >
		</div>
		<div style="font-size:14px; line-height:30px; color:#646464;width: 50%;float: left;padding:0 20px;">
			<p>&nbsp;&nbsp;&nbsp;&nbsp;{$Think.lang.teams1}</p><p></p>
		</div>
		<div style="width: 40%;float: right;">
			<img src="__PUBLIC__/phy-img/hxtd_1.jpg" class="img-responsive" style="max-width: 100%;" alt="">
		</div>
	</div>
</div>
<div class="bg" style="background-image:url(__PUBLIC__/phy-img/qywh_bc.jpg)/*tpa=http://www.hzfen.com/Myapp/Common/images/ab13.jpg*/; height:690px">
	<div class="Root">
		<div style="width:100%; overflow:hidden; padding-top:80px; text-align:center; padding-bottom:80px;">
			<img src="__PUBLIC__/Myapp/Common/images/ab2.png" >
		</div>
		<Div class="whlist">
			<div class="slider1">
	<div class="slide">
	  	<div class="whbar">
			<img src="__PUBLIC__/phy-img/qywh_1.jpg" >
			<Div class="maskss">
				<p class="p1">
					团队意识				</p>
				<p class="p2">
					信任,团结,包容,谦让				</p>
			</Div>
		</div>
	  </div><div class="slide">
	  	<div class="whbar">
			<img src="__PUBLIC__/phy-img/qywh_2.jpg" >
			<Div class="maskss">
				<p class="p1">
					品牌意识				</p>
				<p class="p2">
					追求卓越质量，创造世界名牌				</p>
			</Div>
		</div>
	  </div><div class="slide">
	  	<div class="whbar">
			<img src="__PUBLIC__/phy-img/qywh_3.jpg" >
			<Div class="maskss">
				<p class="p1">
					安全意识				</p>
				<p class="p2">
					我的安全我负责 别人安全我有责				</p>
			</Div>
		</div>
	  </div><div class="slide">
	  	<div class="whbar">
			<img src="__PUBLIC__/phy-img/qywh_4.jpg" >
			<Div class="maskss">
				<p class="p1">
					服务意识				</p>
				<p class="p2">
					专业、专心、诚心				</p>
			</Div>
		</div>
	  </div>	    

      

    </div>

    <script type="text/javascript">

        $(document).ready(function(){

          $('.slider1').bxSlider({

            slideWidth: 380,

            minSlides: 3,

            maxSlides: 3,

            slideMargin: 30

          });

        });

    </script>
		</Div>
	</div>
</div>
<div class="bg" style="background-image:url(__PUBLIC__/Myapp/Common/images/ab14.jpg)/*tpa=http://www.hzfen.com/Myapp/Common/images/ab14.jpg*/; height:1000px">
	
	<div class="Root" style="">
		<div style="width:100%; overflow:hidden; padding-top:80px; padding-bottom:55px;">
			<img src="__PUBLIC__/Myapp/Common/images/ab5.png" >
		</div>
		
		<Div class="zslist">
			
			<div class="slider2">
				<div class="slide">
			  	<a href="__PUBLIC__/ryzz/img/gy1.jpg"  title="" class="showzz"><img src="__PUBLIC__/ryzz/img/gy1.jpg" ></a>
			  </div>
			  <div class="slide">
			  	<a href="__PUBLIC__/ryzz/img/gy2.jpg"  title="" class="showzz"><img src="__PUBLIC__/ryzz/img/gy2.jpg" ></a>
			  </div>
			   <div class="slide">
			  	<a href="__PUBLIC__/ryzz/img/gy3.jpg"  title="" class="showzz"><img src="__PUBLIC__/ryzz/img/gy3.jpg" ></a>
			  </div>
			  <div class="slide">
			  	<a href="__PUBLIC__/ryzz/img/gy4.jpg"  title="" class="showzz"><img src="__PUBLIC__/ryzz/img/gy4.jpg" ></a>
			  </div>
			  <div class="slide">
			  	<a href="__PUBLIC__/ryzz/img/gy5.jpg"  title="" class="showzz"><img src="__PUBLIC__/ryzz/img/gy5.jpg" ></a>
			  </div>
			  <div class="slide">
			  	<a href="__PUBLIC__/ryzz/img/gy6.jpg"  title="" class="showzz"><img src="__PUBLIC__/ryzz/img/gy6.jpg" ></a>
			  </div>
			  <div class="slide">
			  	<a href="__PUBLIC__/ryzz/img/gy7.jpg"  title="" class="showzz"><img src="__PUBLIC__/ryzz/img/gy7.jpg" ></a>
			  </div>
			  <div class="slide">
			  	<a href="__PUBLIC__/ryzz/img/zyhgz.jpg"  title="" class="showzz"><img src="__PUBLIC__/ryzz/img/zyhgz.jpg" ></a>
			  </div>
			  <div class="slide">
			  	<a href="__PUBLIC__/ryzz/img/zyhgz1.jpg"  title="" class="showzz"><img src="__PUBLIC__/ryzz/img/zyhgz1.jpg" ></a>
			  </div>
			  <div class="slide">
			  	<a href="__PUBLIC__/ryzz/img/zyhgz2.jpg"  title="" class="showzz"><img src="__PUBLIC__/ryzz/img/zyhgz2.jpg" ></a>
			  </div>
			  <div class="slide">
			  	<a href="__PUBLIC__/ryzz/img/zyhgz3.jpg"  title="" class="showzz"><img src="__PUBLIC__/ryzz/img/zyhgz3.jpg" ></a>
			  </div>
		
			</div>


			<div class="slider5">
				<div class="slide">
			  	<a href="__PUBLIC__/ryzz/img/a.jpg"  title="" class="showzz"><img src="__PUBLIC__/ryzz/img/a.jpg" ></a>
			  </div>
			  <div class="slide">
			  	<a href="__PUBLIC__/ryzz/img/b.jpg"  title="" class="showzz"><img src="__PUBLIC__/ryzz/img/b.jpg" ></a>
			  </div>
			   <div class="slide">
			  	<a href="__PUBLIC__/ryzz/img/c.jpg"  title="" class="showzz"><img src="__PUBLIC__/ryzz/img/c.jpg" ></a>
			  </div>
			  <div class="slide">
			  	<a href="__PUBLIC__/ryzz/img/d.jpg"  title="" class="showzz"><img src="__PUBLIC__/ryzz/img/d.jpg" ></a>
			  </div>
			  <div class="slide">
			  	<a href="__PUBLIC__/ryzz/img/e.jpg"  title="" class="showzz"><img src="__PUBLIC__/ryzz/img/e.jpg" ></a>
			  </div>
			  <div class="slide">
			  	<a href="__PUBLIC__/ryzz/img/f.jpg"  title="" class="showzz"><img src="__PUBLIC__/ryzz/img/f.jpg" ></a>
			  </div>
			 
		
			</div>

    <script type="text/javascript">

        $(document).ready(function(){

          $('.slider2').bxSlider({

            slideWidth: 285,

            minSlides: 4,

            maxSlides: 4,

            slideMargin: 20

          });

       
 $('.slider5').bxSlider({

            slideWidth: 285,

            minSlides: 3,

            maxSlides: 3,

            slideMargin: 20

          });

        });
    </script>
			
			
		</Div>
		
		
	</div>

</div>

<div class="bg" style="background-image:url(__PUBLIC__/Myapp/Common/images/ab14.jpg)/*tpa=http://www.hzfen.com/Myapp/Common/images/ab12.jpg*/; background-repeat:repeat-y; padding-bottom:80px;">
	<div class="Root gjzh">
		<div style="width:100%; overflow:hidden; padding-top:20px; padding-bottom:35px;">
			<img src="__PUBLIC__/phy-img/gjdzzh.png" >
		</div>
		<div class="row" style="margin-top: 20px;">
			<div class="col-md-7" >
				<img src="__PUBLIC__/gjdzzh/dzzh_1.jpg"  style="height:440px; " alt="">
				<div class="dzzh_text">深圳市赛特微电子作为专业二极管生产厂家参加了第五届中国电子信息博览会暨第89届中国电子展。</div>
			</div>
			<div class="col-md-5">
				<div style="width: 100%;">
					<img src="__PUBLIC__/gjdzzh/dzzh_2.jpg"  style="height:210px; " alt="">
					<div class="dzzh_text2" style="bottom:234px">本次36㎡特装展位位于9号馆9B03</div>
				</div>
				
				<div  style="width: 100%;margin-top: 20px;">
					<img src="__PUBLIC__/gjdzzh/dzzh_3.jpg"  style="height:210px; " alt="">
					<div class="dzzh_text2">本次主要展现了我司部分热卖的型号</div>
				</div>
				
			</div>
		</div>
		<div class="row" style="margin-top: 20px;">
			<div class="col-md-7" >
				<img src="__PUBLIC__/gjdzzh/dzzh_4.jpg"  style="height:440px; " alt="">
				<div class="dzzh_text">展期活动精彩，人流不断。</div>
			</div>
			<div class="col-md-5">
				<div style="width: 100%;">
					<img src="__PUBLIC__/gjdzzh/dzzh_5.jpg"  style="height:210px; " alt="">
					<div class="dzzh_text2" style="bottom:234px">设专属接待人员解答厂家和贸易商的疑问难题。</div>
				</div>
				
				<div  style="width: 100%;margin-top: 20px;">
					<img src="__PUBLIC__/gjdzzh/dzzh_6.jpg"  style="height:210px; " alt="">
					<div class="dzzh_text2">每一次展会中都以最大的热情和细致的服务接待每一位到访者。</div>
				</div>
				
			</div>
		</div>
		<div class="row" style="margin-top: 20px;">
			<div class="col-md-7" >
				<img src="__PUBLIC__/gjdzzh/dzzh_7.jpg"  style="height:440px; " alt="">
				<div class="dzzh_text">每一次展会中都以最大的热情和细致的服务接待每一位到访者。</div>
			</div>
			<div class="col-md-5">
				<div style="width: 100%;">
					<img src="__PUBLIC__/gjdzzh/dzzh_8.jpg"  style="height:210px; " alt="">
					<div class="dzzh_text2" style="bottom:234px">深圳赛特微电子致力成为全球一流的半导体供应商</div>
				</div>
				
				<div  style="width: 100%;margin-top: 20px;">
					<img src="__PUBLIC__/gjdzzh/dzzh_9.jpg"  style="height:210px; " alt="">
					<div class="dzzh_text2">在本次展会上，诸多国内外半导体行业商家轮番登场。</div>
				</div>
				
			</div>
		</div>
		
	</div>
</div>
<!-- <div class="bg" style="background-image:url(__PUBLIC__/Myapp/Common/images/ab15.jpg); height:656px">
	<div class="Root">
		<div style="width:100%; overflow:hidden; padding-top:80px; text-align:center; padding-bottom:80px;">
			<img src="Myapp/Common/images/ab7.png" >
		</div>
		<Div class="lclist">
			 <div class="slider3">
			
						  <div class="slide">
				<div class="lcmid">
					
					<div class="lcmid_top">
						2012					</div>
					<div class="lcmid_footer">
						<div class="lcmid_footer_top">
							成立于杭州余杭区						</div>
						<Div class="lcmid_footer_footer">
							<table>
								<tr>
									<td>
										<img src="Upload/goods/2016/09/02/08/50/ab9.png" >
									</td>
								</tr>
							</table>
						</Div>
					</div>
				
				</div>
			  </div>
			  			  <div class="slide">
				<div class="lcmid">
					
					<div class="lcmid_top" style="font-size:14px; font-family:'微软雅黑'; font-weight:normal">
						取得B级锅炉制造许可证。					</div>
					<div class="lcmid_footer">
						<div class="lcmid_footer_top lcmid_footer_top2"  >
						2013年						</div>
						<Div class="lcmid_footer_footer">
							<table>
								<tr>
									<td>
										<img src="Upload/goods/2016/09/13/15/02/ab9.png" >
									</td>
								</tr>
							</table>
						</Div>
					</div>
				
				</div>
			  </div> 
			  			  <div class="slide">
				<div class="lcmid">
					
					<div class="lcmid_top">
						2014年					</div>
					<div class="lcmid_footer">
						<div class="lcmid_footer_top">
							获ISO 9001-94质量管理体系认证证书。						</div>
						<Div class="lcmid_footer_footer">
							<table>
								<tr>
									<td>
										<img src="Upload/goods/2016/09/13/15/02/ab9.png" >
									</td>
								</tr>
							</table>
						</Div>
					</div>
				
				</div>
			  </div>
			  			  <div class="slide">
				<div class="lcmid">
					
					<div class="lcmid_top" style="font-size:14px; font-family:'微软雅黑'; font-weight:normal">
						搬迁至乔司镇					</div>
					<div class="lcmid_footer">
						<div class="lcmid_footer_top lcmid_footer_top2"  >
						2015年						</div>
						<Div class="lcmid_footer_footer">
							<table>
								<tr>
									<td>
										<img src="Upload/goods/2016/09/21/14/34/2.png" >
									</td>
								</tr>
							</table>
						</Div>
					</div>
				
				</div>
			  </div> 
			  			  <div class="slide">
				<div class="lcmid">
					
					<div class="lcmid_top">
						2016年					</div>
					<div class="lcmid_footer">
						<div class="lcmid_footer_top">
							搬迁至塘栖镇泰山村王家门24号						</div>
						<Div class="lcmid_footer_footer">
							<table>
								<tr>
									<td>
										<img src="Upload/goods/2016/09/21/14/33/2.png" >
									</td>
								</tr>
							</table>
						</Div>
					</div>
				
				</div>
			  </div>
			</div>

    <script type="text/javascript">

        $(document).ready(function(){

          $('.slider3').bxSlider({

            slideWidth: 150,

            minSlides: 5,

            maxSlides: 5,

            slideMargin: 90

          });

        });

    </script>
		</Div>
	</div>
</div> -->
{include file="common/footer"}
<script>
$(function(){
		  
		$(window).scroll(function(e){h();})
        $(window).resize(function(){h();})
	 
	});
function h(){
	var scrolltop=$(document).scrollTop();	
	var docwidth=$(document).width()
	 
	if (scrolltop>115)
	{
		 
		 
		$('.gotop').show();
		
	}
	else
	{
		  
		 
		$('.gotop').hide();
		
	}
}

</script>
<a class="gotop" href="javascript:void(0);" style="position:fixed; z-index:99999999999; z-index:40px; bottom:50px; right:10px; display:none">
	<img src="__PUBLIC__/Myapp/Common/images/up2.png"   />
</a>
<script>
$(function(){
	$(".gotop").on("click",function(e){
			$("html,body").animate({scrollTop :0},400);
			return false;	
		});
});
$('#menu li').hover(function(){
		$(this).find('ul').show();

	},function(){
		$(this).find('ul').hide();
	})
$(".fancybox-close").click(function(){
	alert(1)
	$(".fancybox-overlay").css('display','none');
})
</script>
 
</body>
</html>