<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh" lang="zh">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name = "format-detection" content="telephone = no" />
<META http-equiv="x-ua-compatible" content="ie=7">
<title>关于赛特微</title>
<link rel="stylesheet" href="__PUBLIC__/Wap/Common/style/swiper.min.css" >
<link rel="stylesheet" media="all" type="text/css" href="__PUBLIC__/Wap/Common/style/reset.css"  />
<link rel="stylesheet" media="all" type="text/css" href="__PUBLIC__/Wap/Common/style/style.css"  />
<link rel="stylesheet" href="__PUBLIC__/Wap/Common/style/flexslider.css" >
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Myapp/Common/css/jquery.fancybox.css-v=2.1.2.css"  media="screen" />
<script type="text/javascript" src="__PUBLIC__/Myapp/Common/js/jquery2.js" ></script>
<script src="__PUBLIC__/Wap/Common/js/layout.js" ></script>
<script src="__PUBLIC__/Wap/Common/js/load.js" ></script>
<script src="__PUBLIC__/Wap/Common/js/swiper.min.js" ></script>
<script src="__PUBLIC__/Wap/Common/js/jquery.flexslider-min.js" ></script>
<script type="text/javascript" src="__PUBLIC__/Myapp/Common/js/jquery.fancybox.js-v=2.1.3.js" ></script>
  <script>
$(function(){
	 $('.showzz').fancybox();
	
});
</script>
 
</head>
<body>

    {include file="common/header_m"}


<DIV class="wapper" id="block_mid">
	<Div id="header">
		<Div class="wapper">
			<span></span>
			<a href="javascript:;" lang="1" class="showmenu"></a>
		</Div>
	</Div>
	<div class="comdiv">
		 <img src="__PUBLIC__/phy-img/about_1.jpg"  style="width:100%;" />
	</div>
	<div class="comdiv bg" style=" background-image:url(__PUBLIC__/Wap/Common/images/ab10.jpg)/*tpa=http://www.hzfen.com/Wap/Common/images/ab10.jpg*/; height:auto; padding-bottom:80px;">
		<div class="div600">
			<div class="comdiv" style="padding-top:55px; padding-bottom:30px;">
				<img src="__PUBLIC__/Wap/Common/images/ab1.png"  style="float:left;" />
			</div>
			<Div class="comdiv" style="color:#646464; text-align:left; line-height:40px; font-size: 15px;">
				 	<p>&nbsp;&nbsp;&nbsp;&nbsp;深圳市赛特微电子有限公司依托二十余年的专业经验，年产销二极管120亿只，产品包括表面贴装和轴 向插接系列二极管及其他特种器件等上千余个品种，同时也对外承接各种分立器件的封装加工业务，可 以为客户提供大批量、全系列、多品种、专业化的一揽子解决方案。 公司致力于树立良好的市场形象， 凭借持续改进的产品品质和面对面的直销服务赢得客户对公司品牌的信任。公司的产品被广泛应用于家用 电器、绿色照明、IT、数码产品、汽车电子、工业控制等多个领域。 公司将秉承“用我们的努力，创造顾客 的辉煌”的长期服务理念，以优异的产品和高效的服务期待着与世界各地的客户开展更广泛的合作，致力于成 为中国半导体分立器件细分行业的领军企业。 
<br/>&nbsp;&nbsp;&nbsp;&nbsp;主营产品: TVS瞬态抑制二极管 大功率稳压二极管 玻璃钝化二极管 整流二极管 肖特基二极管 快恢复二极管 超快恢复二极管</p><p></p>
			</Div>
		</div> 
	</div> 
	<div class="comdiv bg" style=" background-image:url(__PUBLIC__/Wap/Common/images/ab10.jpg)/*tpa=http://www.hzfen.com/Wap/Common/images/ab10.jpg*/; height:auto; padding-bottom:80px;">
		<div class="div600">
			<div class="comdiv" style="padding-top:55px; padding-bottom:30px;">
				<img src="__PUBLIC__/phy-img/ab1.png"  style="float:left;" />
			</div>
			<Div class="comdiv" style="color:#646464; text-align:left; line-height:40px; font-size: 15px;">
				 	<p>&nbsp;&nbsp;&nbsp;&nbsp;公司以芯片设计和制造技术为支撑，构建了从产品研发、硅片切磨、芯片制造、封装测试到销售服务的完整产业链，拥有一 支经验丰富、专业配置合理的技术管理团队，可以为客户提供量身定做的配套服务和同步研发的专业服务. 公司严格按照IS O9001、TS16949质量管理体系和ISO14000环境管理体系组织生产，产品符合欧盟指令（ROHS），并可以提供满足客户需要的无卤素产品。 </p><p></p>
			</Div>
		</div> 
	</div> 
	<div class="comdiv bg" style=" background-image:url(__PUBLIC__/phy-img/qywh_bc.jpg)/*tpa=http://www.hzfen.com/Wap/Common/images/ab11.jpg*/; height:auto; padding-bottom:80px; background-size:cover">
		<div class="div600">
			<div class="comdiv" style="padding-top:80px; padding-bottom:80px;">
				<img src="__PUBLIC__/Wap/Common/images/ab2.png"   />
			</div>
			<div class="comdiv aboutwh">
				<ul>
					<li style="height:337px; overflow:hidden;">
						<img src="__PUBLIC__/phy-img/qywh_1.jpg"  style="width:100%" />
						<Div class="comdiv whbar">
							<Div class="comdiv whbar_top">
								团队意识							</Div>
							<div class="comdiv whbar_jj">
								信任,团结,包容,谦让							</div>
						</Div>
					</li><li style="height:337px; overflow:hidden;">
						<img src="__PUBLIC__/phy-img/qywh_2.jpg"  style="width:100%" />
						<Div class="comdiv whbar">
							<Div class="comdiv whbar_top">
								品牌意识							</Div>
							<div class="comdiv whbar_jj">
								追求卓越质量，创造世界名牌							</div>
						</Div>
					</li><li style="height:337px; overflow:hidden;">
						<img src="__PUBLIC__/phy-img/qywh_3.jpg"  style="width:100%" />
						<Div class="comdiv whbar">
							<Div class="comdiv whbar_top">
								安全意识							</Div>
							<div class="comdiv whbar_jj">
								我的安全我负责 别人安全我有责							</div>
						</Div>
					</li><li style="height:337px; overflow:hidden;">
						<img src="__PUBLIC__/phy-img/qywh_4.jpg"  style="width:100%" />
						<Div class="comdiv whbar">
							<Div class="comdiv whbar_top">
								服务意识							</Div>
							<div class="comdiv whbar_jj">
								专业、专心、诚心							</div>
						</Div>
					</li>	  
				</ul>
			</div>
		</div>
	</div>
	<div class="comdiv bg" style=" background-image:url(__PUBLIC__/Wap/Common/images/ab12.jpg)/*tpa=http://www.hzfen.com/Wap/Common/images/ab12.jpg*/; height:auto; padding-bottom:80px;">
		<div class="div600">
			<div class="comdiv" style="padding-top:55px; padding-bottom:80px;">
				<img src="__PUBLIC__/Wap/Common/images/ab4.png"  style="float:left;" />
			</div>
			<div class="comdiv">
				
				<!-- Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
			<div class="swiper-slide">
				<a href="__PUBLIC__/ryzz/img/gy1.jpg"  title="" class="showzz"><img src="__PUBLIC__/ryzz/img/gy1.jpg"  class="zsimg" /></a>
			</div><div class="swiper-slide">
				<a href="__PUBLIC__/ryzz/img/gy2.jpg"  title="" class="showzz"><img src="__PUBLIC__/ryzz/img/gy2.jpg"  class="zsimg" /></a>
			</div><div class="swiper-slide">
				<a href="__PUBLIC__/ryzz/img/gy3.jpg"  title="" class="showzz"><img src="__PUBLIC__/ryzz/img/gy3.jpg"  class="zsimg" /></a>
			</div><div class="swiper-slide">
				<a href="__PUBLIC__/ryzz/img/gy4.jpg"  title="" class="showzz"><img src="__PUBLIC__/ryzz/img/gy4.jpg"  class="zsimg" /></a>
			</div>	
			<div class="swiper-slide">
				<a href="__PUBLIC__/ryzz/img/gy5.jpg"  title="" class="showzz"><img src="__PUBLIC__/ryzz/img/gy5.jpg"  class="zsimg" /></a>
			</div><div class="swiper-slide">
				<a href="__PUBLIC__/ryzz/img/gy6.jpg"  title="" class="showzz"><img src="__PUBLIC__/ryzz/img/gy6.jpg"  class="zsimg" /></a>
			</div>	
			<div class="swiper-slide">
				<a href="__PUBLIC__/ryzz/img/gy7.jpg"  title="" class="showzz"><img src="__PUBLIC__/ryzz/img/gy7.jpg"  class="zsimg" /></a>
			</div><div class="swiper-slide">
				<a href="__PUBLIC__/ryzz/img/zyhgz.jpg"  title="" class="showzz"><img src="__PUBLIC__/ryzz/img/zyhgz.jpg"  class="zsimg" /></a>
			</div>	
			<div class="swiper-slide">
				<a href="__PUBLIC__/ryzz/img/zyhgz1.jpg"  title="" class="showzz"><img src="__PUBLIC__/ryzz/img/zyhgz1.jpg"  class="zsimg" /></a>
			</div>
			<div class="swiper-slide">
				<a href="__PUBLIC__/ryzz/img/zyhgz2.jpg"  title="" class="showzz"><img src="__PUBLIC__/ryzz/img/zyhgz2.jpg"  class="zsimg" /></a>
			</div>
			<div class="swiper-slide">
				<a href="__PUBLIC__/ryzz/img/zyhgz3.jpg"  title="" class="showzz"><img src="__PUBLIC__/ryzz/img/zyhgz3.jpg"  class="zsimg" /></a>
			</div>    
            
        </div>
        <!-- Add Pagination -->
        <div id="zspage" style="position:static; margin-top:55px;" class="swiper-pagination"></div>
    </div>

     
 <div class="swiper-containers" style="margin-top: 20px;">
        <div class="swiper-wrapper">
			<div class="swiper-slide">
				<a href="__PUBLIC__/ryzz/img/a.jpg"  title="" class="showzz"><img src="__PUBLIC__/ryzz/img/a.jpg"  class="zsimg" /></a>
			</div><div class="swiper-slide">
				<a href="__PUBLIC__/ryzz/img/b.jpg"  title="" class="showzz"><img src="__PUBLIC__/ryzz/img/b.jpg"  class="zsimg" /></a>
			</div><div class="swiper-slide">
				<a href="__PUBLIC__/ryzz/img/c.jpg"  title="" class="showzz"><img src="__PUBLIC__/ryzz/img/c.jpg"  class="zsimg" /></a>
			</div><div class="swiper-slide">
				<a href="__PUBLIC__/ryzz/img/d.jpg"  title="" class="showzz"><img src="__PUBLIC__/ryzz/img/d.jpg"  class="zsimg" /></a>
			</div>	
			<div class="swiper-slide">
				<a href="__PUBLIC__/ryzz/img/e.jpg"  title="" class="showzz"><img src="__PUBLIC__/ryzz/img/e.jpg"  class="zsimg" /></a>
			</div><div class="swiper-slide">
				<a href="__PUBLIC__/ryzz/img/f.jpg"  title="" class="showzz"><img src="__PUBLIC__/ryzz/img/f.jpg"  class="zsimg" /></a>
			</div>	
		  
            
        </div>
        <!-- Add Pagination -->
        <div  style="position:static; margin-top:55px;" class="swiper-pagination"></div>
    </div>
<div class="comdiv" style="padding-top:55px; padding-bottom:80px;">
				<img src="__PUBLIC__/phy-img/gjdzzh.png"  style="float:left;" />
			</div>
     <div class="gjdzzh" style="margin-top: 20px;">
        <div class="swiper-wrapper">
			<div class="swiper-slide">
				<a href="__PUBLIC__/gjdzzh/dzzh_1.jpg"  title="深圳市赛特微电子作为专业二极管生产厂家参加了第五届中国电子信息博览会暨第89届中国电子展。" class="showzz"><img src="__PUBLIC__/gjdzzh/dzzh_1.jpg"  class="zsimg" /></a>
			</div><div class="swiper-slide">
				<a href="__PUBLIC__/gjdzzh/dzzh_4.jpg"  title="展期活动精彩，人流不断" class="showzz"><img src="__PUBLIC__/gjdzzh/dzzh_4.jpg"  class="zsimg" /></a>
			</div><div class="swiper-slide">
				<a href="__PUBLIC__/gjdzzh/dzzh_7.jpg"  title="每一次展会中都以最大的热情和细致的服务接待每一位到访者" class="showzz"><img src="__PUBLIC__/gjdzzh/dzzh_7.jpg"  class="zsimg" /></a>
			</div>	
		  
            
        </div>
        <!-- Add Pagination -->
        <div  style="position:static; margin-top:55px;" class="swiper-pagination"></div>
    </div>
 <div class="gjdzzh_two" style="margin-top: 40px;">
        <div class="swiper-wrapper">
			<div class="swiper-slide">
				<a href="__PUBLIC__/gjdzzh/dzzh_2.jpg"  title="本次36㎡特装展位位于9号馆9B03" class="showzz"><img src="__PUBLIC__/gjdzzh/dzzh_2.jpg"  class="zsimg" /></a>
			</div><div class="swiper-slide">
				<a href="__PUBLIC__/gjdzzh/dzzh_3.jpg"  title="本次主要展现了我司部分热卖的型号" class="showzz"><img src="__PUBLIC__/gjdzzh/dzzh_3.jpg"  class="zsimg" /></a>
			</div><div class="swiper-slide">
				<a href="__PUBLIC__/gjdzzh/dzzh_5.jpg"  title="设专属接待人员解答厂家和贸易商的疑问难题。" class="showzz"><img src="__PUBLIC__/gjdzzh/dzzh_5.jpg"  class="zsimg" /></a>
			</div>
			<div class="swiper-slide">
				<a href="__PUBLIC__/gjdzzh/dzzh_6.jpg"  title="每一次展会中都以最大的热情和细致的服务接待每一位到访者" class="showzz"><img src="__PUBLIC__/gjdzzh/dzzh_6.jpg"  class="zsimg" /></a>
			</div>		
		  	<div class="swiper-slide">
				<a href="__PUBLIC__/gjdzzh/dzzh_8.jpg"  title="深圳赛特微电子致力成为全球一流的半导体供应商" class="showzz"><img src="__PUBLIC__/gjdzzh/dzzh_8.jpg"  class="zsimg" /></a>
			</div>	
            <div class="swiper-slide">
				<a href="__PUBLIC__/gjdzzh/dzzh_9.jpg"  title="在本次展会上，诸多国内外半导体行业商家轮番登场" class="showzz"><img src="__PUBLIC__/gjdzzh/dzzh_9.jpg"  class="zsimg" /></a>
			</div>	
        </div>
        <!-- Add Pagination -->
        <div  style="position:static; margin-top:55px;" class="swiper-pagination"></div>
    </div>
    <!-- Initialize Swiper -->
    <script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        slidesPerView: 2,
        paginationClickable: true,
        spaceBetween: 30
    });
     var swiper = new Swiper('.swiper-containers', {
        pagination: '.swiper-pagination',
        slidesPerView: 1,
        paginationClickable: true,
        spaceBetween: 30
    });
     var swiper = new Swiper('.gjdzzh', {
        pagination: '.swiper-pagination',
        slidesPerView: 1,
        paginationClickable: true,
        spaceBetween: 30
    });
     var swiper = new Swiper('.gjdzzh_two', {
        pagination: '.swiper-pagination',
        slidesPerView: 1,
        paginationClickable: true,
        spaceBetween: 30
    });
    </script>
				
					
			</div>
		</div>
	</div>

	<div class="comdiv" id="footer">
<p><img src="__PUBLIC__/phy-img/code_max.jpg" alt="" style="width: 100px;" /></p>
<p style="font-size: 19px;">Copyright ©深圳市赛特微电子有限公司</p>
  			<p><span style="width: 32px;height:32px;"><img src="__PUBLIC__/phy-img/email_pic.png" style="vertical-align:middle;" alt=""></span>
  			<span style="width: 200px;padding-bottom: 5px;">2355647681@qq.com</span> &nbsp;&nbsp;&nbsp;<span style="width: 32px;"><img style="vertical-align:middle;" src="__PUBLIC__/phy-img/phone_pic.png" alt="" /></span>
  			<span style="width: 200px;">0755-83661636</span></p>
  			<p></p>
  			<p><span style="width: 32px;"><img style="vertical-align:middle;" src="__PUBLIC__/phy-img/shouji_pic.png" alt="" /></span>
  			<span style="width: 200px;">0755-83668012</span>&nbsp;&nbsp;&nbsp;技术支持：<a href="http://wwww.pstldz.com" target="_blank">Personal tailor</a> &nbsp;&nbsp;<a href="http://wwww.wunuoyoupin.com">吾诺优品</a></p>

		<p></p>
	</div>
</DIV>
 <script>
 	$('a.fancybox-close').click(function(){
 		$.fancybox.close();
 	})
 	// $.fancybox.close();
 </script>
</body>
</html>