<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh" lang="zh">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name = "format-detection" content="telephone = no" />
<META http-equiv="x-ua-compatible" content="ie=7">
<title>关于赛特微</title>
<link rel="stylesheet" href="__PUBLIC__/Wap/Common/style/swiper.min.css" >
<link rel="stylesheet" media="all" type="text/css" href="__PUBLIC__/Wap/Common/style/reset.css"  />
<link rel="stylesheet" media="all" type="text/css" href="__PUBLIC__/Wap/Common/style/style.css"  />
<link rel="stylesheet" href="__PUBLIC__/Wap/Common/style/flexslider.css" >
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Myapp/Common/css/jquery.fancybox.css-v=2.1.2.css"  media="screen" />
<script type="text/javascript" src="__PUBLIC__/Myapp/Common/js/jquery2.js" ></script>
<script src="__PUBLIC__/Wap/Common/js/layout.js" ></script>
<script src="__PUBLIC__/Wap/Common/js/load.js" ></script>
<script src="__PUBLIC__/Wap/Common/js/swiper.min.js" ></script>
<script src="__PUBLIC__/Wap/Common/js/jquery.flexslider-min.js" ></script>
<script type="text/javascript" src="__PUBLIC__/Myapp/Common/js/jquery.fancybox.js-v=2.1.3.js" ></script>
  <script>
$(function(){
	 $('.showzz').fancybox();
	
});
</script>
 
</head>
<body>

    {include file="common/header_m"}

<DIV class="wapper" id="block_mid">
	<Div id="header">
		<Div class="wapper">
			<span></span>
			<a href="javascript:;" lang="1" class="showmenu"></a>
		</Div>
	</Div>
	<div class="comdiv">
		 <img src="__PUBLIC__/phy-img/newsbanner.jpg"  style="width:100%;" />
	</div>
	<div class="comdiv" style="padding:55px 0px;">
		<img src="__PUBLIC__/Wap/Common/images/n1.png"  />
	</div>
	<Div class="div600 casecate">
		<ul>
			<li>
				<a class="on" href="{:url('index/News/index_m')}" >{$Think.lang.nwes1}</a>
			</li><li>
				<a class="" href="{:url('index/News/trade_m')}" >{$Think.lang.nwes2}</a>
			</li>		
			<li>
				<a class="" href="{:url('index/News/lore_m')}" >{$Think.lang.nwes3}</a>
			</li>	
						</ul>
	</Div>
	<Div class="div600 newslist" style="padding-top:58px;">
		 
		 <ul class="newslist2">
			{volist name='list' id='data'}
		 	<li>
				<a href="{:url('index/News/detail_m',['id'=>$data.id])}" >
					<img src="/public/{$data.cover}"  />
					<Div class="comdiv ntitle">
						{$data.title}	</Div>
				</a>
				<div class="comdiv njj">
						{php}
						$content_01 = $data['content'];
						$content_02 = htmlspecialchars_decode($content_01);//把一些预定义的 HTML 实体转换为字符
						$content_03 = str_replace("&nbsp;"," ",$content_02);//将空格替换成空
						$contents = strip_tags($content_03);//函数剥去字符串中的 HTML、XML 以及 PHP 的标签,获取纯文本内容
						$con = mb_substr($contents, 0, 20,"utf-8");//返回字符串中的前100字符串长度的字符
						echo $con;
						{/php}				</div>
				<div class="comdiv nmore">
					<a href="{:url('index/News/detail_m',['id'=>$data.id])}" >查看详情</a>
				</div>
			</li>
			{/volist}

		</ul>
		<div style="width:35%;margin:0 auto;">{$list->render()}</div>
		
		
	</Div>
	 
	 
	<div class="comdiv" id="footer">
<p><img src="__PUBLIC__/phy-img/code_max.jpg" alt="" style="width: 100px;" /></p>
<p style="font-size: 19px;">Copyright ©深圳市赛特微电子有限公司</p>
  			<p><span style="width: 32px;height:32px;"><img src="__PUBLIC__/phy-img/email_pic.png" style="vertical-align:middle;" alt=""></span>
  			<span style="width: 200px;padding-bottom: 5px;">2355647681@qq.com</span> &nbsp;&nbsp;&nbsp;<span style="width: 32px;"><img style="vertical-align:middle;" src="__PUBLIC__/phy-img/phone_pic.png" alt="" /></span>
  			<span style="width: 200px;">0755-83661636</span></p>
  			<p></p>
  			<p><span style="width: 32px;"><img style="vertical-align:middle;" src="__PUBLIC__/phy-img/shouji_pic.png" alt="" /></span>
  			<span style="width: 200px;">0755-83668012</span>&nbsp;&nbsp;&nbsp;技术支持：<a href="http://wwww.pstldz.com" target="_blank">Personal tailor</a> &nbsp;&nbsp;<a href="http://wwww.wunuoyoupin.com">吾诺优品</a></p>

		<p></p>
	</div>
</DIV>
  <script>
var page = 1;
$(function(){
	//getlist($('.loadmore').attr('id'),$('.loadmore').attr('data-href'),$('.loadmore').attr('lang'));
	$('.loadmore').click(function(){
		getlist($(this).attr('id'),$(this).attr('lang'));
		
	});
	 
	 
});
function getlist(href,cid){
		 
		$.get(href,{page:page,cid:cid,t:new Date().getTime()},function(d,t,j){
			page++;
			
			if(d==""){
				alert("资料正在整理中！");
				return false;
				}else{
				$(".newslist2").append(d);
				 
					$('.newslist2 li').each(function(){
						 var n=$('.newslist2 li').index(this);
						 if(n%3==0){
						 //	$(this).css('margin-left','0');
						 }
					});
				}
			 
		},"text");
		
		 
		
		return false;
}
  
</script> 
</body>
</html>