<div class="mmm">
		<div>
			<ul>
				<li class="m1">
					<a   href="{:url('index/Index/index')}" >网站首页<span></span></a>
				</li>
				<li class="m2">
                    <a  href="{:url('index/About/index_m')}" >关于赛特微<span></span></a>
				</li>
				<li class="m3">
					<a class="submenu" href="{:url('index/Product/index_m')}" >产品中心<span></span></a>
				</li>
				<li class="m4">
					<a   href="{:url('index/News/index_m')}" >新闻中心<span></span></a>
				</li>
				<li>
					<a href="{:url('index/contact/index_m')}" >联系我们</a>
				</li>
				<li>
					<a  href="https://saitew.1688.com/" target="_blank">在线商城</a>
				</li>
			</ul>

		</div>
</div> 